@charset "UTF-8";
/*
	Author: Shane Schroll - 502
	Author URI: https://weare502.com
	Theme Name: KWA
	Description: KWA blocks stylesheet. Block Editor Preview and Front End styles for blocks.
	Version: 1.6.6
	Text Domain: kwa
*/
.has-purple-color {
  color: #4A2B74;
}

.has-purple-background-color {
  background-color: #FFF !important;
}

.has-grey-color {
  color: #2F2F2F;
}

.has-grey-background-color {
  background-color: #FFF !important;
}

.editor-button-block, .editor-button-block__green, .editor-button-block__purple {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-family: roboto-slab, serif;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #FFF;
}
.editor-button-block:hover, .editor-button-block__green:hover, .editor-button-block__purple:hover {
  -webkit-box-shadow: 0 12px 13px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 12px 13px -10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.editor-button-block__purple {
  background-color: #4A2B74;
}
.editor-button-block__green {
  background-color: #8EA13A;
}

.standard-dropdown-container {
  max-width: 63.25rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.standard-dropdown-container .dropdown-block-title {
  display: block;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #000;
  color: #4A2B74;
}
.standard-dropdown-container .dropdown-block-title:hover {
  cursor: pointer;
}
.standard-dropdown-container .dropdown-block-title:after {
  content: "";
  position: absolute;
  top: 1.2rem;
  margin-left: 2rem;
  font-size: 16px;
  font-weight: normal;
  font-family: FontAwesome;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
@media (min-width: 768px) {
  .standard-dropdown-container .dropdown-block-title:after {
    font-size: 18px;
  }
}
@media (min-width: 1023px) {
  .standard-dropdown-container .dropdown-block-title:after {
    top: 1.25rem;
    font-size: 22px;
  }
}
.standard-dropdown-container .chevron-rotate:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.important-info-wrapper {
  max-width: 43.75rem;
  margin: 1.25rem auto 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-left: 3px solid #4A2B74;
}
.important-info-wrapper .h6-heading {
  color: #4A2B74;
  margin: 0 0 0 1.5rem;
}

.newsletter-image-gallery {
  max-width: 43.75rem;
  margin: 5rem auto 2.5rem;
}
.newsletter-image-gallery--item {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 8rem));
  -webkit-column-gap: 0.9rem;
     -moz-column-gap: 0.9rem;
          column-gap: 0.9rem;
  row-gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 480px) {
  .newsletter-image-gallery--item {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.newsletter-image-gallery--item img {
  max-width: 100%;
  max-height: 10rem;
}
.newsletter-image-gallery .gallery-indexer {
  margin: 0 auto;
}