@charset "UTF-8";
/*
	Author: Shane Schroll - 502
	Author URI: https://weare502.com
	Theme Name: KWA
	Description: Custom theme for Kansas Wheat Alliance.
	Version: 2.2.1
	Text Domain: kwa
*/
@font-face {
  font-family: "Veneer";
  src: url("fonts/Veneer.ttf");
}
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-variant-numeric: lining-nums;
  font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  line-height: 1.2;
  overflow-x: hidden;
}

::-webkit-input-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

::-moz-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #8A8A8A;
  opacity: 1;
}

::placeholder {
  color: #8A8A8A;
  opacity: 1;
}

img {
  max-width: 100%;
  height: auto;
}

a.read-more {
  display: none;
}

a, p, span, address, blockquote {
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.2;
  font-family: roboto, sans-serif;
  font-variant-numeric: lining-nums;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
a:hover {
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #2F2F2F;
}
@media (min-width: 768px) {
  p {
    margin-bottom: 1.5rem;
  }
}

small {
  font-family: roboto, sans-serif;
  font-size: 0.625rem;
  color: #FFF;
}

time {
  font-family: roboto, sans-serif;
  color: #2F2F2F;
}

ul, ol {
  font-size: 0.875rem;
  color: #2F2F2F;
  font-family: roboto, sans-serif;
  margin-bottom: 2.5rem;
}

.h1-heading, h1--w, .h1-heading--w,
.h2-heading,
h2--w,
.h2-heading--w,
.h3-heading,
h3--w,
.h3-heading--w,
.h4-heading,
h4--w,
.h4-heading--w,
.h5-heading,
h5--w,
.h5-heading--w,
.h6-heading,
h6--w,
.h6-heading--w,
h1, h2, h3,
h4, h5, h6 {
  display: block;
  font-family: roboto-slab, serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1, .h1-heading, h1--w, .h1-heading--w {
  font-size: 2rem;
  color: #4A2B74;
}
@media (min-width: 768px) {
  h1, .h1-heading, h1--w, .h1-heading--w {
    font-size: 2.5rem;
  }
}
@media (min-width: 1023px) {
  h1, .h1-heading, h1--w, .h1-heading--w {
    font-size: 3rem;
  }
}
h1--w, .h1-heading--w {
  color: #FFF;
}

h2, .h2-heading, h2--w, .h2-heading--w {
  font-size: 1.85rem;
  color: #4A2B74;
}
@media (min-width: 480px) {
  h2, .h2-heading, h2--w, .h2-heading--w {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  h2, .h2-heading, h2--w, .h2-heading--w {
    font-size: 2.5rem;
  }
}
h2--w, .h2-heading--w {
  color: #FFF;
}

h3, .h3-heading, h3--w, .h3-heading--w {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  color: #2F2F2F;
}
@media (min-width: 768px) {
  h3, .h3-heading, h3--w, .h3-heading--w {
    font-size: 1.75rem;
  }
}
@media (min-width: 1023px) {
  h3, .h3-heading, h3--w, .h3-heading--w {
    font-size: 2rem;
  }
}
h3--w, .h3-heading--w {
  color: #FFF;
}

h4, .h4-heading, h4--w, .h4-heading--w {
  font-size: 1.175rem;
  color: #2F2F2F;
}
@media (min-width: 768px) {
  h4, .h4-heading, h4--w, .h4-heading--w {
    font-size: 1.375rem;
  }
}
@media (min-width: 1023px) {
  h4, .h4-heading, h4--w, .h4-heading--w {
    font-size: 1.5625rem;
  }
}
h4--w, .h4-heading--w {
  color: #FFF;
}

h5, .h5-heading, h5--w, .h5-heading--w {
  font-size: 0.9375rem;
  font-weight: normal;
  font-family: calder-dark, sans-serif;
  color: #8A8A8A;
}
@media (min-width: 768px) {
  h5, .h5-heading, h5--w, .h5-heading--w {
    font-size: 1.125rem;
  }
}
h5--w, .h5-heading--w {
  color: #FFF;
}

h6, .h6-heading, h6--w, .h6-heading--w {
  font-size: 0.875rem;
  color: #2F2F2F;
}
@media (min-width: 480px) {
  h6, .h6-heading, h6--w, .h6-heading--w {
    font-size: 1rem;
  }
}
h6--w, .h6-heading--w {
  color: #FFF;
}

.primary-button, .primary-button--w, .primary-button--g, .form-container #gform_1 #gform_submit_button_1, .primary-button--p, .primary-button--t {
  display: block;
  padding: 0.75rem 2.5rem;
  font-family: roboto-slab, serif;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
}
.primary-button--w {
  background-color: #FFF;
  color: #2F2F2F;
  border: 1px solid transparent;
}
.primary-button--w:hover {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
}
.primary-button--g, .form-container #gform_1 #gform_submit_button_1 {
  padding: 0.75rem 1.25rem;
  background-color: #8EA13A;
  color: #FFF;
}
.primary-button--g:hover, .form-container #gform_1 #gform_submit_button_1:hover {
  -webkit-box-shadow: 0 12px 13px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 12px 13px -10px rgba(0, 0, 0, 0.5);
}
.primary-button--p {
  padding: 0.75rem 1.25rem;
  background-color: #4A2B74;
  color: #FFF;
}
.primary-button--p:hover {
  -webkit-box-shadow: 0 12px 13px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 12px 13px -10px rgba(0, 0, 0, 0.5);
}
.primary-button--t {
  background-color: transparent;
  color: #FFF;
  border: 1px solid #FFF;
}
.primary-button--t:hover {
  background-color: #FFF;
  color: #2F2F2F;
}

@media (min-width: 63.9375em) {
  .slide--left {
    background-size: 200% 100%;
    background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #EAEAEA), color-stop(50%, transparent));
    background-image: linear-gradient(to left, #EAEAEA 50%, transparent 50%);
    -webkit-transition: background-position 0.3s;
    transition: background-position 0.3s;
  }
  .slide--left:hover {
    background-position: 100% 0;
    -webkit-transition: background-position 0.3s;
    transition: background-position 0.3s;
  }
  .slide--right {
    background-size: 200% 100%;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, #EAEAEA));
    background-image: linear-gradient(to right, transparent 50%, #EAEAEA 50%);
    -webkit-transition: background-position 0.3s;
    transition: background-position 0.3s;
  }
  .slide--right:hover {
    background-position: -100% 0;
    -webkit-transition: background-position 0.3s;
    transition: background-position 0.3s;
  }
}
.global-page-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.default-container {
  max-width: 61.25rem;
  margin: 1rem auto;
}

.default-container-wide {
  max-width: 65.25rem;
  margin: 1rem auto;
  padding: 0 1rem;
}

.add-padding {
  padding: 1rem;
}

.interior-header {
  max-width: 43.75rem;
  margin: 3.75rem auto;
  text-align: center;
  background-color: #FFF;
}
.interior-header time {
  display: block;
  font-family: roboto, sans-serif;
  font-size: 0.875rem;
  padding-top: 0.75rem;
  color: #8A8A8A;
}

.default-container-short {
  max-width: 43.75rem;
  margin: 2rem auto;
  padding: 0 1rem;
}
.default-container-short a:not(.plain-link):not(.editor-button-block__purple):not(.editor-button-block__green) {
  color: #4A2B74;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
}
.default-container-short a:not(.plain-link):not(.editor-button-block__purple):not(.editor-button-block__green):hover {
  text-decoration: underline;
}

.hide-on-desktop {
  display: block;
}
@media (min-width: 480px) {
  .hide-on-desktop {
    display: none;
  }
}

.hide-on-mobile {
  display: none;
}
@media (min-width: 480px) {
  .hide-on-mobile {
    display: block;
  }
}

.fade-in {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.add-underline {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #979797;
}

.plain-link {
  color: #4A2B74;
  font-size: 0.875rem;
  text-decoration: none;
}
.plain-link:hover {
  text-decoration: underline;
}

.full-width-image {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.full-width-image:hover {
  cursor: pointer;
}

.image-modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.6);
}
.image-modal img {
  display: block;
  position: absolute;
  margin: 0 auto;
  max-height: 90%;
  max-width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.home-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 50%;
  padding: 3rem 1rem;
}
@media (min-width: 768px) {
  .home-header {
    padding: 6rem 1rem;
  }
}
@media (min-width: 1023px) {
  .home-header {
    padding: 9rem 1rem;
  }
}
.home-header .purple-filter-box {
  max-width: 75rem;
  margin: 0 auto;
  background-color: #4A2B74;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 0 60px 20px -30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 60px 20px -30px rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  .home-header .purple-filter-box {
    padding: 2.75rem 2.25rem;
  }
}
@media (min-width: 1023px) {
  .home-header .purple-filter-box {
    padding: 2.75rem 6.25rem;
  }
}
.home-header .purple-filter-box .callout-text {
  display: inline-block;
  font-family: calder-dark, sans-serif;
  font-size: 1rem;
  color: #FFF;
}
@media (min-width: 480px) {
  .home-header .purple-filter-box .callout-text {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) {
  .home-header .purple-filter-box .callout-text {
    font-size: 1.6875rem;
  }
}
.home-header .purple-filter-box .callout-text:last-of-type {
  margin-bottom: 1rem;
}
.home-header .purple-filter-box h1 {
  font-family: Veneer;
  font-size: 2.125rem;
  font-weight: normal;
  margin-top: 0.5rem;
  border-bottom: 1px solid #BE9F61;
  line-height: 1.1;
}
@media (min-width: 480px) {
  .home-header .purple-filter-box h1 {
    font-size: 3.125rem;
  }
}
@media (min-width: 768px) {
  .home-header .purple-filter-box h1 {
    font-size: 5.125rem;
  }
}
@media (min-width: 1023px) {
  .home-header .purple-filter-box h1 {
    font-size: 6.125rem;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .home-header .purple-filter-box h1 {
    font-size: 7.125rem;
  }
}
.home-header .purple-filter-box .facet-filter-group {
  max-width: 45rem;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 700px) {
  .home-header .purple-filter-box .facet-filter-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.home-header .purple-filter-box .facet-filter-group .facetwp-facet {
  margin-right: 0;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .home-header .purple-filter-box .facet-filter-group .facetwp-facet {
    margin-top: unset;
  }
}
.home-header .purple-filter-box .facet-filter-group button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  margin-top: 1rem;
  width: 5rem;
  padding: 0.5rem 1rem;
}
@media (min-width: 768px) {
  .home-header .purple-filter-box .facet-filter-group button {
    margin-top: unset;
    padding: 0.75rem 1.25rem;
  }
}
@media (min-width: 1023px) {
  .home-header .purple-filter-box .facet-filter-group button {
    width: unset;
  }
}
.home-header .purple-filter-box .facet-filter-group button:hover {
  cursor: pointer;
}

.outer-nav-wrapper {
  position: relative;
  max-width: 100%;
  width: 100vw;
  z-index: 30;
  border-bottom: 6px solid #4A2B74;
  background-color: #FFF;
}

.nav-wrapper {
  position: relative;
  max-width: 100%;
  z-index: 25;
}
.nav-wrapper .nav-container nav ul {
  padding: 0;
  list-style: none;
}

#menu-toggle {
  display: none;
}

.mobile-nav-top {
  display: none;
}

@media (min-width: 53.125em) {
  .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 77rem;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
  }

  .logo {
    max-width: 16.125rem;
    margin-right: 2rem;
  }

  #primary-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .nav-menu {
    width: 40rem;
  }
  .nav-menu .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .nav-menu .menu li {
    position: relative;
    padding: 0.75rem;
    z-index: 5;
    background-color: transparent;
    border-bottom: 2px solid transparent;
  }
  .nav-menu .menu li.current-menu-item {
    border-bottom: 2px solid #4A2B74;
  }
  .nav-menu .menu li:hover:not(.menu-item-has-children) {
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    background-color: #FFF;
    border-bottom: 2px solid #4A2B74;
  }
  .nav-menu .menu li:not(.menu-item-has-children) {
    -webkit-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
  }
  .nav-menu .menu li a {
    color: #4A2B74;
    font-family: calder-dark, sans-serif;
    font-weight: normal;
    font-size: 1.125rem;
    text-transform: uppercase;
  }
  .nav-menu .menu li a:hover {
    cursor: pointer;
  }
  .nav-menu .menu .sub-menu {
    position: absolute;
    top: 2.5rem;
    left: 0;
    visibility: hidden;
    opacity: 0;
    width: 12.5rem;
    overflow: hidden;
    background-color: #FFF;
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border-top-left-radius: unset;
  }
  .nav-menu .menu .sub-menu li {
    padding: unset;
    width: 100%;
    border-bottom: 1px solid #D8D8D8;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: unset;
    z-index: 5;
  }
  .nav-menu .menu .sub-menu li.current-menu-item {
    background-color: #4A2B74;
  }
  .nav-menu .menu .sub-menu li.current-menu-item a {
    color: #FFF;
  }
  .nav-menu .menu .sub-menu li:after {
    content: "";
    background-color: transparent;
  }
  .nav-menu .menu .sub-menu li:hover {
    border-bottom: 1px solid #D8D8D8 !important;
  }
  .nav-menu .menu .sub-menu li:last-child {
    border-bottom: unset !important;
  }
  .nav-menu .menu .sub-menu li a {
    display: inline-block;
    padding: 0.75rem;
    width: 100%;
    font-family: roboto, sans-serif;
    font-weight: normal;
    font-size: 0.875rem;
    color: #2F2F2F;
    text-transform: none;
    -webkit-transition: unset;
    transition: unset;
  }
  .nav-menu .menu .sub-menu li a:hover {
    -webkit-transition: unset;
    transition: unset;
    background-color: #4A2B74;
    color: #FFF;
    border-radius: unset;
    cursor: pointer;
  }
  .nav-menu .menu #menu-item-141:hover:after {
    width: 7.9rem;
  }
  .nav-menu .menu #menu-item-127:hover:after {
    width: 7.75rem;
  }
  .nav-menu .menu #menu-item-174:hover:after {
    width: 5.8rem;
  }
  .nav-menu .menu .menu-item-has-children {
    position: relative;
    z-index: 5;
    border-bottom-right-radius: unset;
  }
  .nav-menu .menu .menu-item-has-children:hover {
    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 10;
  }
  .nav-menu .menu .menu-item-has-children:hover:after {
    content: "";
    background-color: #FFF;
    height: 1rem;
    width: 7.8rem;
    position: absolute;
    top: 2.25rem;
    left: 0;
    z-index: 3;
  }
  .nav-menu .menu .menu-item-has-children > a {
    position: relative;
  }
  .nav-menu .menu .menu-item-has-children:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0.1s ease-out;
    transition: visibility 0.1s ease-out;
  }
}
@media (max-width: 53.0625em) {
  .logo {
    display: none;
  }

  .mobile-nav-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 1rem;
  }
  .mobile-nav-top .mobile-logo {
    max-width: 8.5rem;
  }

  #menu-toggle {
    display: block;
  }
  #menu-toggle:hover {
    cursor: pointer;
  }
  #menu-toggle .x-bar {
    display: block;
    width: 1.6rem;
    height: 3px;
    margin-bottom: 6px;
    background-color: #4A2B74;
    -webkit-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    border-radius: 1px;
  }
  #menu-toggle .x-bar-active {
    position: relative;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    margin-bottom: 0;
    height: 4px;
  }
  #menu-toggle .x-bar-active:nth-child(3n+1) {
    top: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu-toggle .x-bar-active:nth-child(3n+2) {
    opacity: 0;
  }
  #menu-toggle .x-bar-active:nth-child(3n+3) {
    bottom: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-bottom: 0;
  }

  #primary-menu {
    display: none;
    position: relative;
    width: 100%;
    top: 1.5rem;
    text-align: center;
    overflow: hidden;
  }
  #primary-menu li {
    margin-bottom: 1.5rem;
  }
  #primary-menu a {
    font-family: calder-dark, sans-serif;
    font-weight: bold;
    color: #4A2B74;
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  #primary-menu .menu-item-has-children {
    position: relative;
  }
  #primary-menu .menu-item-has-children > a {
    position: relative;
  }
  #primary-menu .menu-item-has-children > li {
    margin-top: 0.75rem;
  }
  #primary-menu .menu-item-has-children > .sub-menu {
    position: relative;
    width: 100%;
    top: 1rem;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: #4A2B74;
  }
  #primary-menu .menu-item-has-children > .sub-menu li {
    margin-bottom: 1.25rem;
  }
  #primary-menu .menu-item-has-children > .sub-menu li:last-of-type {
    margin-bottom: 0;
  }
  #primary-menu .menu-item-has-children > .sub-menu li a {
    color: #FFF;
    font-size: 0.875rem;
  }

  .sub-menu {
    display: none;
  }
}
.site-footer {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-image: url("./static/images/footer-texture.jpg");
  background-position: center;
  background-repeat: repeat;
  border-top: 8px solid #4A2B74;
  z-index: 5;
}
@media (min-width: 768px) {
  .site-footer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.site-footer .client-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 0 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #979797;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 520px) {
  .site-footer .client-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.site-footer .left-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .site-footer .left-wrap {
    width: 100%;
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 900px) {
  .site-footer .left-wrap {
    max-width: 36.25rem;
  }
}
.site-footer .left-wrap img {
  max-width: 13.5rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .site-footer .left-wrap img {
    margin-right: 2.5rem;
    margin-bottom: unset;
  }
}
@media (min-width: 1023px) {
  .site-footer .left-wrap img {
    margin-right: 7.25rem;
  }
}
.site-footer .left-wrap .divider {
  display: none;
}
@media (min-width: 768px) {
  .site-footer .left-wrap .divider {
    display: block;
    height: 6.875rem;
    width: 1px;
    background-color: #FFF;
  }
}
.site-footer .left-wrap address {
  margin-bottom: 1.5rem;
}
@media (min-width: 520px) {
  .site-footer .left-wrap address {
    margin-bottom: unset;
  }
}
.site-footer .left-wrap address a {
  display: block;
  font-size: 0.875rem;
  line-height: 1.8;
  color: #FFF;
}
.site-footer .left-wrap address a:last-of-type {
  margin-top: 0.75rem;
}
.site-footer .left-wrap address a:hover {
  text-decoration: underline;
}
.site-footer .site-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1.5rem 0 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 680px) {
  .site-footer .site-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.site-footer .site-info small {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
@media (min-width: 680px) {
  .site-footer .site-info small {
    margin: unset;
  }
}
.site-footer .site-info a {
  font-size: 0.625rem;
  color: #FFF;
}
.site-footer .site-info a:hover {
  text-decoration: underline;
}
.site-footer .site-info svg {
  vertical-align: sub;
  margin-left: 0.15rem;
}

.featured-block-wrapper {
  background-size: cover;
  padding: 0 1rem;
  margin: 0 auto 2rem;
}
@media (min-width: 768px) {
  .featured-block-wrapper {
    margin: 0 auto 5rem;
  }
}
.featured-block-wrapper .featured-block-content {
  position: relative;
  max-width: 75rem;
  margin: 0 auto;
  padding: 5.375rem 0;
}
.featured-block-wrapper .featured-block-content .featured-post {
  max-width: 40rem;
  margin: 0 auto;
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 1rem 1rem 5rem;
}
@media (min-width: 768px) {
  .featured-block-wrapper .featured-block-content .featured-post {
    padding: 2.25rem 3rem 5rem;
  }
}
@media (min-width: 1085px) {
  .featured-block-wrapper .featured-block-content .featured-post {
    max-width: 62.5rem;
    padding: 2.25rem 0 2.25rem 4rem;
    margin: unset;
  }
}
.featured-block-wrapper .featured-block-content .featured-content {
  max-width: 33.75rem;
  margin-left: 0;
}
.featured-block-wrapper .featured-block-content .featured-content p {
  margin-bottom: 2.625rem;
}
.featured-block-wrapper .featured-block-content .featured-content .primary-button--g, .featured-block-wrapper .featured-block-content .featured-content .form-container #gform_1 #gform_submit_button_1, .form-container #gform_1 .featured-block-wrapper .featured-block-content .featured-content #gform_submit_button_1 {
  max-width: 9rem;
}
.featured-block-wrapper .featured-block-content .featured-image {
  display: block;
  position: relative;
  margin: -2.5rem auto 0;
  -webkit-box-shadow: 0 14px 7px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 14px 7px -5px rgba(0, 0, 0, 0.5);
}
@media (min-width: 480px) {
  .featured-block-wrapper .featured-block-content .featured-image {
    max-width: 28rem;
  }
}
@media (min-width: 1085px) {
  .featured-block-wrapper .featured-block-content .featured-image {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    margin: unset;
  }
}

.recent-news {
  position: relative;
  padding: 1rem 0 5rem 0;
}
.recent-news h2 {
  color: #2F2F2F;
  max-width: 75rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 1185px) {
  .recent-news h2 {
    text-align: left;
    margin-bottom: unset;
  }
}
.recent-news .recent-news-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 77rem;
  margin: 1.3rem auto 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 480px) {
  .recent-news .recent-news-cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (min-width: 1100px) {
  .recent-news .recent-news-cards {
    margin: 1.3rem auto 5rem;
  }
}
@media (min-width: 1200px) {
  .recent-news .recent-news-cards {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.recent-news .recent-news-post {
  position: relative;
  max-width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  border: 2px solid #4A2B74;
  background-color: #FFF;
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
  z-index: 2;
}
@media (min-width: 850px) {
  .recent-news .recent-news-post {
    min-height: 23rem;
    max-width: 20rem;
  }
}
@media (min-width: 1200px) {
  .recent-news .recent-news-post {
    margin-bottom: 0;
    max-width: 24rem;
  }
}
.recent-news .recent-news-post .h3-heading, .recent-news .recent-news-post h3--w, .recent-news .recent-news-post .h3-heading--w {
  color: #4A2B74;
}
.recent-news .recent-news-post .p-styles {
  display: block;
  line-height: 1.2;
  color: #2F2F2F;
}
.recent-news .recent-news-post .primary-button--g, .recent-news .recent-news-post .form-container #gform_1 #gform_submit_button_1, .form-container #gform_1 .recent-news .recent-news-post #gform_submit_button_1 {
  max-width: 9rem;
  margin-top: 1rem;
}
@media (min-width: 850px) {
  .recent-news .recent-news-post .primary-button--g, .recent-news .recent-news-post .form-container #gform_1 #gform_submit_button_1, .form-container #gform_1 .recent-news .recent-news-post #gform_submit_button_1 {
    position: absolute;
    bottom: 1rem;
    margin-top: unset;
  }
}
@media (min-width: 1200px) {
  .recent-news .recent-news-post .primary-button--g, .recent-news .recent-news-post .form-container #gform_1 #gform_submit_button_1, .form-container #gform_1 .recent-news .recent-news-post #gform_submit_button_1 {
    bottom: 2rem;
  }
}
.recent-news .recent-news-post:hover {
  -webkit-transition: background-color 0.1s ease-out;
  transition: background-color 0.1s ease-out;
  background-color: #4A2B74;
}
.recent-news .recent-news-post:hover .h3-heading, .recent-news .recent-news-post:hover h3--w, .recent-news .recent-news-post:hover .h3-heading--w, .recent-news .recent-news-post:hover .p-styles {
  color: #FFF;
}
.recent-news .recent-news-post:hover .primary-button--g, .recent-news .recent-news-post:hover .form-container #gform_1 #gform_submit_button_1, .form-container #gform_1 .recent-news .recent-news-post:hover #gform_submit_button_1 {
  -webkit-box-shadow: 0 12px 13px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 12px 13px -10px rgba(0, 0, 0, 0.5);
}
.recent-news .home-testimonial {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 77rem;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}
@media (min-width: 768px) {
  .recent-news .home-testimonial {
    margin: 0 auto 4rem;
  }
}
@media (min-width: 1100px) {
  .recent-news .home-testimonial {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.recent-news .home-testimonial .testimonial-image img {
  max-width: 18rem;
  margin-bottom: 4rem;
}
@media (min-width: 375px) {
  .recent-news .home-testimonial .testimonial-image img {
    max-width: 22rem;
  }
}
@media (min-width: 480px) {
  .recent-news .home-testimonial .testimonial-image img {
    max-width: 24rem;
  }
}
@media (min-width: 1100px) {
  .recent-news .home-testimonial .testimonial-image img {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .recent-news .home-testimonial .testimonial-image img {
    max-width: 26rem;
  }
}
@media (min-width: 68.75em) {
  .recent-news .home-testimonial .divider {
    height: 17rem;
    width: 1px;
    padding: 0 0 0 1px;
    background-color: #8EA13A;
  }
}
.recent-news .home-testimonial .testimonial-content {
  max-width: 39.5rem;
}
.recent-news .home-testimonial .testimonial-content img {
  max-width: 14rem;
}
@media (min-width: 650px) {
  .recent-news .home-testimonial .testimonial-content img {
    max-width: 16.5rem;
  }
}
.recent-news .home-testimonial .testimonial-content h4 {
  color: #4A2B74;
  line-height: 1.1;
}
.recent-news .home-testimonial .testimonial-content span {
  display: inline-block;
  margin-top: 1rem;
  color: #2F2F2F;
}
@media (max-width: 68.6875em) {
  .recent-news .microscope-image {
    display: none;
  }
}
@media (min-width: 68.75em) {
  .recent-news .microscope-image {
    display: block;
    position: absolute;
    left: -2.5rem;
    z-index: 1;
  }
}
@media (min-width: 68.75em) and (min-width: 1200px) {
  .recent-news .microscope-image {
    left: -4rem;
  }
}
@media (min-width: 68.75em) and (min-width: 1340px) {
  .recent-news .microscope-image {
    left: -7.5rem;
  }
}

.tweet-deck {
  padding: 3rem 1rem;
  background-color: #BE9F61;
  margin-bottom: -1rem;
  margin-top: 0.3rem;
}
.tweet-deck__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 60rem;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 850px) {
  .tweet-deck__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.tweet-deck__container .fa-twitter {
  position: absolute;
  font-family: FontAwesome;
  font-size: 8.375rem;
  color: #D4B576;
  z-index: 1;
  top: 0;
  left: -4.5rem;
}
.tweet-deck .tweet-wrapper {
  max-width: 27.5rem;
  width: 100%;
  z-index: 2;
}
.tweet-deck .tweet-wrapper #ctf .ctf-item {
  padding: 0 0 1rem;
}
.tweet-deck .tweet-wrapper h2 {
  width: 100%;
  border-bottom: 1px solid #2F2F2F;
  margin-bottom: 1rem;
  color: #2F2F2F;
}
.tweet-deck .tweet-wrapper .plain-link {
  max-width: 8rem;
  display: block;
  font-style: italic;
  color: #2F2F2F;
}
.tweet-deck .join-box {
  max-width: 27.5rem;
  margin-top: 1.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .tweet-deck .join-box {
    text-align: left;
  }
}
@media (min-width: 850px) {
  .tweet-deck .join-box {
    max-width: 22rem;
    margin-top: 0;
  }
}
.tweet-deck .join-box h4 {
  margin-bottom: 1.5rem;
}
.tweet-deck .join-box .primary-button--t {
  max-width: 11rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .tweet-deck .join-box .primary-button--t {
    margin: unset;
  }
}

.contact-container {
  max-width: 48.875rem;
  margin: 0 auto;
  padding: 1rem;
}
.contact-container .default-container-short {
  padding: unset;
}

.map-container {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  height: 15rem;
}
@media (min-width: 480px) {
  .map-container {
    height: 18rem;
  }
}
@media (min-width: 768px) {
  .map-container {
    height: 20rem;
  }
}

#map {
  position: relative;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group {
  position: absolute;
  width: 4rem;
  top: 0;
  right: 0;
  padding: 1rem;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group button, .mapboxgl-ctrl.mapboxgl-ctrl-group [type=button], .mapboxgl-ctrl.mapboxgl-ctrl-group [type=reset], .mapboxgl-ctrl.mapboxgl-ctrl-group [type=submit] {
  -webkit-appearance: none;
  margin-bottom: 0.5rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  background-color: #2F2F2F;
  color: #FFF;
  border: none;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-compass {
  display: none;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-in:before {
  content: "+";
  position: relative;
  font-weight: bold;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-in:hover {
  cursor: pointer;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-out:before {
  content: "-";
  position: relative;
  font-weight: bold;
}
.mapboxgl-ctrl.mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-out:hover {
  cursor: pointer;
}

.contact-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 27.9rem;
  margin: 1.5rem 0 3.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact-address span, .contact-address a {
  line-height: 1.5;
  color: #2F2F2F;
}
.contact-address span:hover, .contact-address a:hover {
  text-decoration: underline;
}

.form-container .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  padding: 0.625rem;
}
.form-container .gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=image]):not([type=file]) {
  line-height: 1.2;
}
.form-container #gform_1 .gfield {
  margin-top: 1.25rem;
  padding-right: 0;
}
@media (min-width: 768px) {
  .form-container #gform_1 .gfield {
    padding-right: 1rem;
  }
}
.form-container #gform_1 #field_1_1.gfield {
  margin-top: 0;
}
.form-container #gform_1 #field_1_2.gfield {
  margin-top: 1.25rem;
}
@media (min-width: 768px) {
  .form-container #gform_1 #field_1_2.gfield {
    margin-top: 0;
  }
}
.form-container #gform_1 .ginput_container {
  margin-top: 0;
}
.form-container #gform_1 .ginput_container input {
  margin-top: 0;
}
.form-container #gform_1 #input_1_1, .form-container #gform_1 #input_1_2, .form-container #gform_1 #input_1_3, .form-container #gform_1 #input_1_4 {
  border: 1px solid #979797;
  border-radius: 2px;
}
.form-container #gform_1 #field_1_1, .form-container #gform_1 #field_1_2 {
  width: 100%;
  padding-right: 0;
}
@media (min-width: 768px) {
  .form-container #gform_1 #field_1_1, .form-container #gform_1 #field_1_2 {
    width: 21rem;
  }
}
.form-container #gform_1 #field_1_1 input, .form-container #gform_1 #field_1_2 input {
  width: 100%;
}
.form-container #gform_1 #field_1_1, .form-container #gform_1 #field_1_2 {
  display: inline-block;
}
@media (min-width: 768px) {
  .form-container #gform_1 #field_1_2 {
    position: relative;
    right: -0.75rem;
  }
}
.form-container #gform_1 #field_1_3 input {
  width: 100%;
}
.form-container #gform_1 .gform_footer {
  margin-top: 0;
}
.form-container #gform_1 #gform_submit_button_1 {
  display: inline-block;
  max-width: 7rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: unset;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.form-container #gform_1 #gform_submit_button_1:hover {
  cursor: pointer;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.facet-container {
  max-width: 100%;
  padding: 2rem 1rem;
  margin: -2rem auto 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  z-index: 5;
}
@media (min-width: 768px) {
  .facet-container {
    padding: 2rem 1rem 7.25rem;
  }
}
.facet-container .facet-header {
  position: relative;
  max-width: 61rem;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 652px) {
  .facet-container .facet-header {
    text-align: left;
  }
}
.facet-container .facet-header h1 {
  margin: 2.5rem auto 1rem;
}
@media (min-width: 652px) {
  .facet-container .facet-header h1 {
    margin: 2.5rem auto;
  }
}
.facet-container .facet-header .pre-facet-text {
  display: inline-block;
  font-family: calder-dark, sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #FFF;
  margin-bottom: 1rem;
}

.page-template-archive-seed .facet-filter-group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
  text-align: center;
}
@media (min-width: 768px) {
  .page-template-archive-seed .facet-filter-group {
    margin-bottom: 0;
  }
}
@media (min-width: 652px) {
  .page-template-archive-seed .facet-filter-group {
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
}
.page-template-archive-seed .facet-filter-group .facetwp-facet {
  margin-top: 1rem;
  margin-right: 0;
}
@media (min-width: 571px) {
  .page-template-archive-seed .facet-filter-group .facetwp-facet {
    margin-right: 2.5rem;
  }
}
@media (min-width: 652px) {
  .page-template-archive-seed .facet-filter-group .facetwp-facet {
    margin-top: unset;
  }
}
.page-template-archive-seed .facet-filter-group select {
  width: 16.875rem;
}

.default-container .facetwp-template {
  display: -ms-grid;
  display: grid;
  max-width: 61rem;
  margin: -2.65rem auto 5rem;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 17.5rem));
  -webkit-column-gap: 4.25rem;
     -moz-column-gap: 4.25rem;
          column-gap: 4.25rem;
  row-gap: 4.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1023px) {
  .default-container .facetwp-template {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.default-container .facetwp-template .seed-card {
  position: relative;
  padding: 1rem;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  background: #FFF;
  -webkit-transition: unset;
  transition: unset;
  overflow: hidden;
}
.default-container .facetwp-template .seed-card img {
  display: block;
  margin: 0 auto;
  max-height: 9.5rem;
  margin-bottom: 1.25rem;
}
.default-container .facetwp-template .seed-card span {
  display: block;
  color: #4A2B74;
}
.default-container .facetwp-template .seed-card ul {
  display: block;
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0 0 0 0.25rem;
}
@media (min-width: 768px) {
  .default-container .facetwp-template .seed-card ul {
    min-height: 6.5rem;
  }
}
.default-container .facetwp-template .seed-card ul li {
  display: table-row;
  margin-bottom: 0.05rem;
}
.default-container .facetwp-template .seed-card ul li:before {
  display: table-cell;
  content: "·";
  position: relative;
  font-size: 1.25rem;
  top: 0.05rem;
  right: 0.25rem;
}
.default-container .facetwp-template .seed-card .primary-button--g, .default-container .facetwp-template .seed-card .form-container #gform_1 #gform_submit_button_1, .form-container #gform_1 .default-container .facetwp-template .seed-card #gform_submit_button_1,
.default-container .facetwp-template .seed-card .primary-button--p {
  position: relative;
  bottom: 0;
  color: #FFF;
}
.default-container .facetwp-template .seed-card .new-banner {
  position: absolute;
  top: 0.5rem;
  left: -1.55rem;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  max-width: 6rem;
  width: 100%;
  background-color: #4A2B74;
  color: #FFF;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 0.25rem;
  font-family: roboto, sans-serif;
}
.default-container .facetwp-template .green-card:hover {
  -webkit-transition: unset;
  transition: unset;
  -webkit-box-shadow: 0 0 3px 0 #637029;
          box-shadow: 0 0 3px 0 #637029;
}
.default-container .facetwp-template .purple-card:hover {
  -webkit-transition: unset;
  transition: unset;
  -webkit-box-shadow: 0 0 3px 0 #4A2B74;
          box-shadow: 0 0 3px 0 #4A2B74;
}

/*
	The container element for these facets determines the wrapping and flow of content (per page basis).
	These control styles for all facets sitewide
*/
.facet-filter-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 61rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.facet-filter-group .facetwp-facet {
  display: block;
  margin-right: 2.5rem;
  position: relative;
  margin-bottom: 0;
  background-color: #FFF;
  border-radius: 6px;
}
.facet-filter-group .facetwp-facet:after {
  content: "";
  font-family: FontAwesome;
  font-size: 0.75rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #8EA13A;
  padding: 12px 14px 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
@media (min-width: 480px) {
  .facet-filter-group .facetwp-facet:after {
    padding: 15px 14px 17px;
  }
}
@media (min-width: 768px) {
  .facet-filter-group .facetwp-facet:after {
    padding: 17px 14px 19px;
  }
}
.facet-filter-group select, .facet-filter-group option {
  font-family: roboto, sans-serif;
  font-size: 1rem !important;
  color: #2F2F2F;
}
.facet-filter-group select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  position: relative;
  width: 16.875rem;
  padding: 0.4rem 0.5rem;
  border: 1px solid #110029;
  border-radius: 5px;
  background: transparent;
  z-index: 2;
  line-height: 1.5;
}
@media (min-width: 480px) {
  .facet-filter-group select {
    padding: 0.65rem 0.5rem;
  }
}
@media (min-width: 768px) {
  .facet-filter-group select {
    padding: 0.8rem 0.5rem;
    width: 14.875rem;
  }
}
@media (min-width: 800px) {
  .facet-filter-group select {
    width: 16.875rem;
  }
}
.facet-filter-group select:hover {
  cursor: pointer;
}
.facet-filter-group .reset-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: unset;
  border: 1px solid #FFF;
  position: absolute;
  bottom: -2.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #FFF;
  font-family: roboto, sans-serif;
  font-size: 1rem;
  text-align: center;
}
.facet-filter-group .reset-button:hover {
  cursor: pointer;
}
@media (min-width: 652px) {
  .facet-filter-group .reset-button {
    left: 0;
    -webkit-transform: unset;
            transform: unset;
  }
}
@media (min-width: 743px) {
  .facet-filter-group .reset-button {
    position: relative;
    padding-left: 0;
    bottom: 0;
    border: unset;
  }
}

.seed-template-default .facetwp-template {
  display: none;
}
.seed-template-default .facetwp-template.visible {
  display: block;
}

.seed-information-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 875px) {
  .seed-information-wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.seed-information-wrapper .info-content {
  max-width: 23.75rem;
}
.seed-information-wrapper .info-content .seed-quick-facts {
  display: -ms-grid;
  display: grid;
  max-width: 23.75rem;
  padding: 1rem 0 1.25rem;
  margin: 1rem 0;
  -ms-grid-columns: 10.75rem;
  grid-template-columns: repeat(1, 10.75rem);
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}
@media (min-width: 414px) {
  .seed-information-wrapper .info-content .seed-quick-facts {
    -ms-grid-columns: (10.75rem)[2];
    grid-template-columns: repeat(2, 10.75rem);
    max-width: 30rem;
  }
}
.seed-information-wrapper .info-content .seed-quick-facts h4 {
  grid-column: 1/-1;
  margin-bottom: 0;
}
.seed-information-wrapper .info-content .seed-quick-facts span {
  font-weight: bold;
}
.seed-information-wrapper .info-content .seed-quick-facts p {
  margin: 0;
}
.seed-information-wrapper .info-content .seed-quick-facts .border {
  padding-left: 0.5rem;
  border-left: 2px solid #4A2B74;
}
.seed-information-wrapper .info-content .primary-button--p {
  display: inline-block;
}
.seed-information-wrapper .media-container {
  max-width: 55rem;
  margin-bottom: 2rem;
  margin-top: -2.2rem;
  margin-left: -1rem;
  margin-right: -1rem;
}
@media (min-width: 875px) {
  .seed-information-wrapper .media-container {
    margin: unset;
    max-width: 30rem;
  }
}
.seed-information-wrapper .media-container img, .seed-information-wrapper .media-container video {
  width: 100%;
}
@media (min-width: 875px) {
  .seed-information-wrapper .media-container img, .seed-information-wrapper .media-container video {
    max-height: 20rem;
  }
}

.seed-highlights {
  width: 100%;
  margin: 0 auto 3rem;
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
.seed-highlights .highlight-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 61.25rem;
  margin: 0 auto;
  padding: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 880px) {
  .seed-highlights .highlight-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.seed-highlights .highlight-container .h3-heading--w {
  margin-bottom: 1.5rem;
}
@media (min-width: 650px) {
  .seed-highlights .highlight-container .h3-heading--w {
    margin-bottom: 2rem;
  }
}
@media (min-width: 880px) {
  .seed-highlights .highlight-container .h3-heading--w {
    margin-bottom: 0;
    border-right: 2px solid #8EA13A;
    padding: 1rem 2rem 1rem 0;
  }
}
@media (max-width: 55em) {
  .seed-highlights .highlight-container .highlight-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 41rem;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 55em) and (min-width: 650px) {
  .seed-highlights .highlight-container .highlight-group {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 55em) {
  .seed-highlights .highlight-container .highlight-group .highlight {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 55em) and (min-width: 650px) {
  .seed-highlights .highlight-container .highlight-group .highlight {
    max-width: 9.5rem;
  }
}
@media (max-width: 55em) {
  .seed-highlights .highlight-container .highlight-group .highlight span {
    font-size: 0.75rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 55em) and (min-width: 650px) {
  .seed-highlights .highlight-container .highlight-group .highlight span {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .seed-highlights .highlight-container .highlight-group {
    max-width: 30rem;
    margin: 0 auto;
  }
}
.seed-highlights .highlight-container .highlight-group .highlight:nth-child(3n+3) > span {
  margin-bottom: 0;
}

.seed-info-wrapper {
  max-width: 63.25rem;
  margin: 0 auto;
}
.seed-info-wrapper .seed-editor-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 800px) {
  .seed-info-wrapper .seed-editor-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.seed-info-wrapper .seed-editor-content__text {
  max-width: 25rem;
}
@media (min-width: 800px) {
  .seed-info-wrapper .seed-editor-content__text {
    max-width: 28rem;
  }
}
.seed-info-wrapper .seed-editor-content__map {
  margin-left: 0;
  margin-bottom: 2rem;
  max-width: 25rem;
}
@media (min-width: 800px) {
  .seed-info-wrapper .seed-editor-content__map {
    margin-bottom: 0;
    margin-left: 2rem;
    max-width: 28rem;
  }
}
@media (min-width: 800px) {
  .seed-info-wrapper .seed-editor-content__map img {
    min-width: 25rem;
  }
}

.seed-testimonial {
  background-color: #EAEAEA;
  margin: 6rem auto 3rem;
  padding: 0 1rem;
}
.seed-testimonial__review {
  max-width: 39.5rem;
  margin: 0 auto;
  padding-bottom: 1.5rem;
}
.seed-testimonial__review img {
  margin-top: -1.2rem;
  max-width: 14rem;
}
@media (min-width: 850px) {
  .seed-testimonial__review img {
    margin-top: -1.5rem;
    max-width: 16.5rem;
  }
}
.seed-testimonial__review h4 {
  color: #4A2B74;
  padding-bottom: 0.75rem;
}
.seed-testimonial__review span {
  color: #2F2F2F;
}

.seed-dealers-wrapper {
  max-width: 63.25rem;
  margin: 2rem auto;
  padding: 1rem;
  /**
  	grid styles for dealers
  	Trailblazer dealers have a 3 col grid
  	Non-Trailblazers have a 2 col grid split in half
  */
}
.seed-dealers-wrapper h2, .seed-dealers-wrapper .h5-heading, .seed-dealers-wrapper h5--w, .seed-dealers-wrapper .h5-heading--w {
  text-align: center;
}
.seed-dealers-wrapper h2 {
  margin-bottom: 1.875rem;
}
.seed-dealers-wrapper .h5-heading, .seed-dealers-wrapper h5--w, .seed-dealers-wrapper .h5-heading--w {
  color: #2F2F2F;
}
.seed-dealers-wrapper .facet-filter-group {
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.seed-dealers-wrapper .facet-filter-group .facetwp-facet {
  margin-right: unset;
}
.seed-dealers-wrapper .dealers-grid-wrapper {
  margin: 2rem auto;
  max-width: 61.25rem;
}
.seed-dealers-wrapper .trailblazer-grid,
.seed-dealers-wrapper .non-trailblazer-grid {
  display: -ms-grid;
  display: grid;
  max-width: 61rem;
  margin: 2.5rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1023px) {
  .seed-dealers-wrapper .trailblazer-grid,
.seed-dealers-wrapper .non-trailblazer-grid {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.seed-dealers-wrapper .trailblazer-grid {
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 17.5rem));
  -webkit-column-gap: 4.25rem;
     -moz-column-gap: 4.25rem;
          column-gap: 4.25rem;
  row-gap: 2.25rem;
}
.seed-dealers-wrapper .non-trailblazer-grid {
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 17.5rem));
  -webkit-column-gap: 4.25rem;
     -moz-column-gap: 4.25rem;
          column-gap: 4.25rem;
  row-gap: 1rem;
}
@media (min-width: 1008px) {
  .seed-dealers-wrapper .non-trailblazer-grid {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 27.5rem));
    -webkit-column-gap: 6rem;
       -moz-column-gap: 6rem;
            column-gap: 6rem;
    row-gap: 1rem;
  }
}
.seed-dealers-wrapper .dealer-card, .seed-dealers-wrapper .dealer-card--regular {
  padding: 1rem 1rem 1.25rem;
}
.seed-dealers-wrapper .dealer-card h5, .seed-dealers-wrapper .dealer-card h5 > a, .seed-dealers-wrapper .dealer-card .plain-link, .seed-dealers-wrapper .dealer-card--regular h5, .seed-dealers-wrapper .dealer-card--regular h5 > a, .seed-dealers-wrapper .dealer-card--regular .plain-link {
  color: #2F2F2F;
}
.seed-dealers-wrapper .dealer-card h5 > a, .seed-dealers-wrapper .dealer-card--regular h5 > a {
  font-size: 0.9375rem;
  font-weight: normal;
  font-family: calder-dark, sans-serif;
  color: #2F2F2F;
}
@media (min-width: 768px) {
  .seed-dealers-wrapper .dealer-card h5 > a, .seed-dealers-wrapper .dealer-card--regular h5 > a {
    font-size: 1.125rem;
  }
}
.seed-dealers-wrapper .dealer-card h5 > a:hover, .seed-dealers-wrapper .dealer-card--regular h5 > a:hover {
  text-decoration: underline;
}
.seed-dealers-wrapper .dealer-card .plain-link, .seed-dealers-wrapper .dealer-card--regular .plain-link {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.seed-dealers-wrapper .dealer-card .plain-link:last-child, .seed-dealers-wrapper .dealer-card--regular .plain-link:last-child {
  margin-bottom: 0;
}
.seed-dealers-wrapper .dealer-card .dealer-link, .seed-dealers-wrapper .dealer-card--regular .dealer-link {
  color: #8EA13A;
}
.seed-dealers-wrapper .dealer-card {
  border: solid 1px transparent;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.seed-dealers-wrapper .dealer-card:hover {
  -webkit-box-shadow: 0 0 3px 0 #4A2B74;
          box-shadow: 0 0 3px 0 #4A2B74;
}
.seed-dealers-wrapper .dealer-card h5 {
  padding: 1rem 0 0.5rem;
  border-bottom: 1px solid #979797;
}
.seed-dealers-wrapper .dealer-card--regular {
  border-top: 1px solid #979797;
}
@media (min-width: 660px) {
  .seed-dealers-wrapper .dealer-card--regular {
    border-top: unset;
    border-bottom: 1px solid #979797;
  }
  .seed-dealers-wrapper .dealer-card--regular:nth-of-type(1), .seed-dealers-wrapper .dealer-card--regular:nth-of-type(2) {
    border-top: 1px solid #979797;
  }
}

.seed-extra-info {
  max-width: 77rem;
  margin: 1rem auto 0;
  padding: 1rem;
}
@media (min-width: 768px) {
  .seed-extra-info {
    margin: 5rem auto 0;
  }
}
.seed-extra-info .top-border {
  max-width: 100%;
  height: 1px;
  margin: 0 auto;
  background-color: #979797;
}
.seed-extra-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem 0 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 650px) {
  .seed-extra-info__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .seed-extra-info__container {
    padding: 5rem 0 3rem;
  }
}
.seed-extra-info__container > a {
  margin-bottom: 1.5rem;
}
@media (min-width: 650px) {
  .seed-extra-info__container > a {
    margin-bottom: unset;
  }
}
.seed-extra-info__container .btn-center {
  margin: 0 auto;
}
.seed-extra-info__container div {
  max-width: 22.5rem;
}
.seed-extra-info__container img {
  float: left;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 5rem;
}
@media (min-width: 650px) {
  .seed-extra-info__container img {
    margin-bottom: 3rem;
  }
}
.seed-extra-info__container p {
  margin-bottom: 0;
  line-height: 1.5;
}

.tables-container {
  margin: 3rem auto;
}

.table-wrapper {
  max-width: 100%;
  margin: 2rem auto;
  overflow: scroll;
}
@media (min-width: 1023px) {
  .table-wrapper {
    overflow: hidden;
  }
}
.table-wrapper table {
  width: 40rem;
  margin: 1rem auto;
  border-spacing: 0;
  border-bottom: 3px solid #4A2B74;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
@media (min-width: 768px) {
  .table-wrapper table {
    max-width: 49rem;
  }
}
.table-wrapper table td {
  width: 9.375rem;
  padding: 0.75rem;
  text-align: left;
  margin-bottom: 5rem;
  font-family: roboto, sans-serif;
  font-size: 0.875rem;
  color: #2F2F2F;
}
.table-wrapper table td.primary-seed {
  border: 1px solid #8A8A8A;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: unset;
  color: #4A2B74;
}
.table-wrapper table tbody tr:first-of-type td:nth-child(1) {
  border-top: 3px solid #4A2B74;
  border-top-left-radius: 3px;
}
.table-wrapper table tbody tr:first-of-type td:nth-child(2) {
  border-top: 3px solid rgba(74, 43, 116, 0.3);
}
.table-wrapper table tbody tr:first-of-type td:nth-child(3), .table-wrapper table tbody tr:first-of-type td:nth-child(4), .table-wrapper table tbody tr:first-of-type td:nth-child(5) {
  border-top: 3px solid #4A2B74;
}
.table-wrapper table tbody tr:first-of-type td:last-child {
  border-top-right-radius: 3px;
}
.table-wrapper table tbody tr td:nth-child(2) {
  border-top: 1px solid rgba(74, 43, 116, 0.3);
  border-left: 1px solid #4A2B74;
  border-right: 1px solid #4A2B74;
}
.table-wrapper table tbody tr td:nth-child(4), .table-wrapper table tbody tr td:nth-child(5) {
  border-left: 1px solid #4A2B74;
}
.table-wrapper table tbody td {
  padding: 0.75rem;
  border-top: 1px solid #4A2B74;
}
.table-wrapper table tbody td:first-of-type {
  border-left: 3px solid #4A2B74;
  width: 12rem;
}
.table-wrapper table tbody td:last-of-type {
  border-right: 3px solid #4A2B74;
}

.news-page-container {
  max-width: 100%;
  padding: 1rem;
}

.news-page-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .news-page-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.news-page-container .tax-menu {
  position: relative;
  max-width: 100%;
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .news-page-container .tax-menu {
    margin-top: 3rem;
    margin-right: 1rem;
  }
}
.news-page-container .tax-menu span {
  width: 16rem;
  display: block;
  border-bottom: 1px solid #979797;
  font-family: roboto-slab, serif;
  font-size: 1.125rem;
  color: #2F2F2F;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
}
@media (min-width: 768px) {
  .news-page-container .tax-menu span {
    width: 14rem;
  }
}
.news-page-container .tax-menu .news-tax {
  display: inline-block;
  max-width: 6rem;
  padding: 0.25rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: unset;
  border: none;
  font-family: roboto, sans-serif;
  font-size: 0.875rem;
  color: #2F2F2F;
  -webkit-transition: none;
  transition: none;
}
@media (min-width: 768px) {
  .news-page-container .tax-menu .news-tax {
    display: block;
  }
}
.news-page-container .tax-menu .news-tax:hover {
  cursor: pointer;
  -webkit-transition: none;
  transition: none;
  font-weight: bold;
  color: #4A2B74;
}
.news-page-container .tax-menu .news-tax.active {
  font-weight: bold;
  color: #4A2B74;
}
.news-page-container .news-wrapper {
  max-width: 42.5rem;
}
.news-page-container .news-wrapper .newsletters {
  max-width: 42.5rem;
  display: block;
}
.news-page-container .news-wrapper .newsletters article {
  border-bottom: 1px solid #979797;
  margin-bottom: 1.25rem;
}
.news-page-container .news-wrapper .newsletters article a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #4A2B74;
          text-decoration-color: #4A2B74;
  text-decoration-thickness: 2px;
}
.news-page-container .news-wrapper .newsletters article h3 {
  margin-bottom: 0.75rem;
}
.news-page-container .news-wrapper .newsletters article p, .news-page-container .news-wrapper .newsletters article time {
  font-size: 0.875rem;
  color: #2F2F2F;
}
.news-page-container .news-wrapper .newsletters article time {
  display: inline-block;
  font-style: italic;
  margin-bottom: 1rem;
}
.news-page-container .news-wrapper .pagination-links {
  display: block;
  max-width: 10rem;
  margin-top: 2rem;
}
.news-page-container .news-wrapper .pagination-links .page-numbers {
  padding: 0.3rem 0.75rem;
  margin-right: 1rem;
  font-family: roboto, sans-serif;
  font-size: 1rem;
  color: #2F2F2F;
  border: 1px solid #8A8A8A;
}
.news-page-container .news-wrapper .pagination-links .page-numbers:hover:not(.current) {
  background-color: #4A2B74;
  color: #FFF;
}
.news-page-container .news-wrapper .pagination-links .current {
  background-color: #4A2B74;
  color: #FFF;
}

.show-news {
  display: block;
}

.single-news-wrapper {
  max-width: 48.75rem;
  margin: 2rem auto;
  padding: 1rem;
}
.single-news-wrapper .newsletter {
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
  border-bottom: 1px solid #8EA13A;
}
.single-news-wrapper .newsletter p {
  max-width: 43.75rem;
  margin: 0 auto 1.25rem;
}
.single-news-wrapper .newsletter h1, .single-news-wrapper .newsletter h2, .single-news-wrapper .newsletter h3, .single-news-wrapper .newsletter h4, .single-news-wrapper .newsletter h5, .single-news-wrapper .newsletter h6 {
  max-width: 43.75rem;
  margin: 1rem auto 0.5rem;
}
.single-news-wrapper .newsletter a:not(.plain-link):not(.editor-button-block__green):not(.editor-button-block__purple) {
  color: #4A2B74;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: none;
}
.single-news-wrapper .newsletter a:not(.plain-link):not(.editor-button-block__green):not(.editor-button-block__purple):hover {
  text-decoration: underline;
}
.single-news-wrapper .newsletter .wp-block-image {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 0;
  width: 48rem;
}
.single-news-wrapper .author-info {
  max-width: 100%;
  width: 100%;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.single-news-wrapper .author-info p {
  margin: 0 0 0.5rem;
  padding: 0;
}
.single-news-wrapper .author-info .shared-counts-wrap {
  all: unset;
}
.single-news-wrapper .author-info .shared-counts-wrap.style-icon .shared-counts-button .shared-counts-icon svg {
  width: 25px;
  height: 20px;
}

.post-navigation-links {
  max-width: 100%;
  margin: 0 auto -0.5rem;
  border-top: 2px solid #EAEAEA;
}
.post-navigation-links .post-nav-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 75rem;
  width: 100%;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 575px) {
  .post-navigation-links .post-nav-grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.post-navigation-links .post-previous, .post-navigation-links .post-next {
  position: relative;
  display: block;
  max-width: 37.5rem;
  width: 100%;
}
.post-navigation-links .post-previous--no-post, .post-navigation-links .post-next--no-post {
  max-width: 37.5rem;
  width: 100%;
  padding: 1rem 3rem;
}
@media (min-width: 575px) {
  .post-navigation-links .post-previous--no-post, .post-navigation-links .post-next--no-post {
    padding: 1.5rem 3rem 1rem;
  }
}
@media (min-width: 768px) {
  .post-navigation-links .post-previous--no-post, .post-navigation-links .post-next--no-post {
    padding: 3.5rem 2rem 3.5rem 6rem;
  }
}
@media (min-width: 1023px) {
  .post-navigation-links .post-previous--no-post, .post-navigation-links .post-next--no-post {
    padding: 3.5rem 2rem 3.5rem 8rem;
  }
}
.post-navigation-links .post-previous--no-post > span, .post-navigation-links .post-next--no-post > span {
  min-height: unset;
}
.post-navigation-links .post-previous {
  border-right: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  padding: 1.5rem 3rem 2.5rem;
}
@media (min-width: 575px) {
  .post-navigation-links .post-previous {
    border-top: 0;
  }
}
@media (min-width: 768px) {
  .post-navigation-links .post-previous {
    padding: 3.5rem 6rem 3.5rem 8rem;
  }
}
.post-navigation-links .post-previous .arrow-left {
  position: absolute;
  bottom: 0;
  left: 3rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .post-navigation-links .post-previous .arrow-left {
    top: 55%;
    bottom: unset;
    left: 0;
    -webkit-transform: translateY(-55%);
            transform: translateY(-55%);
    padding-left: 1rem;
  }
}
.post-navigation-links .post-next {
  border-left: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  padding: 1.5rem 3rem 2.5rem;
}
@media (min-width: 575px) {
  .post-navigation-links .post-next {
    border-top: 0;
  }
}
@media (min-width: 768px) {
  .post-navigation-links .post-next {
    padding: 3.5rem 6rem;
  }
}
.post-navigation-links .post-next .arrow-right {
  position: absolute;
  bottom: 0;
  right: 3.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .post-navigation-links .post-next .arrow-right {
    top: 55%;
    right: 0;
    bottom: unset;
    -webkit-transform: translateY(-55%);
            transform: translateY(-55%);
    padding-right: 1rem;
  }
}
.post-navigation-links .h4-heading, .post-navigation-links h4--w, .post-navigation-links .h4-heading--w {
  min-height: 3.5rem;
}
@media (min-width: 768px) {
  .post-navigation-links .h4-heading, .post-navigation-links h4--w, .post-navigation-links .h4-heading--w {
    min-height: 4.5rem;
  }
}
.post-navigation-links a span {
  color: #2F2F2F;
}
.post-navigation-links .h4-heading, .post-navigation-links h4--w, .post-navigation-links .h4-heading--w, .post-navigation-links .post-preview {
  display: inline-block;
  max-width: 24rem;
}
@media (min-width: 1200px) {
  .post-navigation-links .h4-heading, .post-navigation-links h4--w, .post-navigation-links .h4-heading--w, .post-navigation-links .post-preview {
    width: 24rem;
  }
}

.single-dealer-post {
  margin: 0 auto;
  padding: 0 1rem;
}
.single-dealer-post .dealer-logo {
  display: block;
  max-width: 10rem;
  margin: 2.5rem auto 0;
}
.single-dealer-post h1 {
  text-align: center;
  margin-top: 2.5rem;
}
.single-dealer-post .dealer-info, .single-dealer-post .dealer-info-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 680px) {
  .single-dealer-post .dealer-info, .single-dealer-post .dealer-info-site {
    margin: 2.5rem auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.single-dealer-post .dealer-info span, .single-dealer-post .dealer-info a, .single-dealer-post .dealer-info-site span, .single-dealer-post .dealer-info-site a {
  color: #2F2F2F;
  margin: 0 auto;
  padding: 0 0.15rem;
  font-size: 0.875rem;
}
.single-dealer-post .dealer-info span, .single-dealer-post .dealer-info-site span {
  margin-top: 0.875rem;
}
@media (min-width: 680px) {
  .single-dealer-post .dealer-info span, .single-dealer-post .dealer-info-site span {
    margin-top: 0;
  }
}
.single-dealer-post .dealer-info a:hover, .single-dealer-post .dealer-info-site a:hover {
  text-decoration: underline;
}
.single-dealer-post .dealer-info .divider, .single-dealer-post .dealer-info-site .divider {
  display: none;
}
@media (min-width: 680px) {
  .single-dealer-post .dealer-info .divider, .single-dealer-post .dealer-info-site .divider {
    display: block;
    height: 1rem;
    width: 2px;
    background-color: #979797;
  }
}
.single-dealer-post .dealer-info {
  max-width: 28rem;
}
.single-dealer-post .dealer-info-site {
  max-width: 42.5rem;
}
.single-dealer-post .dealer-image {
  display: block;
  max-width: 100%;
  max-height: 29.5rem;
  margin: 0 auto 2.5rem;
  -o-object-fit: fill;
     object-fit: fill;
}
.single-dealer-post .dealer-message-content {
  max-width: 43.75rem;
  margin: 0 auto 3.5rem;
}
.single-dealer-post .dealer-message-content p {
  color: #2F2F2F;
  font-family: roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 1.4;
}
.single-dealer-post .available-seed-grid {
  display: -ms-grid;
  display: grid;
  max-width: 61rem;
  margin: 2.65rem auto 5rem;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 17.5rem));
  -webkit-column-gap: 4.25rem;
     -moz-column-gap: 4.25rem;
          column-gap: 4.25rem;
  row-gap: 4.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1023px) {
  .single-dealer-post .available-seed-grid {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}
.single-dealer-post .available-seed-grid .seed-card {
  position: relative;
  padding: 1rem;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  background: #FFF;
  -webkit-transition: unset;
  transition: unset;
  overflow: hidden;
}
.single-dealer-post .available-seed-grid .seed-card img {
  display: block;
  margin: 0 auto;
  max-height: 9.5rem;
  margin-bottom: 1.25rem;
}
.single-dealer-post .available-seed-grid .seed-card span {
  display: block;
  color: #4A2B74;
}
.single-dealer-post .available-seed-grid .seed-card ul {
  display: block;
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0 0 0 0.25rem;
}
@media (min-width: 768px) {
  .single-dealer-post .available-seed-grid .seed-card ul {
    min-height: 6.5rem;
  }
}
.single-dealer-post .available-seed-grid .seed-card ul li {
  display: table-row;
  margin-bottom: 0.05rem;
}
.single-dealer-post .available-seed-grid .seed-card ul li:before {
  display: table-cell;
  content: "·";
  position: relative;
  font-size: 1.25rem;
  top: 0.05rem;
  right: 0.25rem;
}
.single-dealer-post .available-seed-grid .seed-card .primary-button--p {
  position: relative;
  bottom: 0;
  color: #FFF;
}
.single-dealer-post .available-seed-grid .purple-card:hover {
  -webkit-transition: unset;
  transition: unset;
  -webkit-box-shadow: 0 0 3px 0 #4A2B74;
          box-shadow: 0 0 3px 0 #4A2B74;
}

/** fix input zoom on iphone **/
/* iPhone < 5 */
@media screen and (device-aspect-ratio: 2/3) {
  select, textarea, input[type=text], input[type=password],
input[type=datetime], input[type=datetime-local],
input[type=date], input[type=month], input[type=time],
input[type=week], input[type=number], input[type=email],
input[type=url] {
    font-size: 16px !important;
  }
}
/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select, textarea, input[type=text], input[type=password],
input[type=datetime], input[type=datetime-local],
input[type=date], input[type=month], input[type=time],
input[type=week], input[type=number], input[type=email],
input[type=url] {
    font-size: 16px !important;
  }
}
/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
  select, textarea, input[type=text], input[type=password],
input[type=datetime], input[type=datetime-local],
input[type=date], input[type=month], input[type=time],
input[type=week], input[type=number], input[type=email],
input[type=url] {
    font-size: 16px !important;
  }
}
/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
  select, textarea, input[type=text], input[type=password],
input[type=datetime], input[type=datetime-local],
input[type=date], input[type=month], input[type=time],
input[type=week], input[type=number], input[type=email],
input[type=url] {
    font-size: 16px !important;
  }
}
/*# sourceMappingURL=style.css.map */