{#
  * Block Name: Green Button
  * Creates a standard button utilizing the theme's color palette.
#}

{% if fields.new_tab_link %}
	<a class="editor-button-block__green" href="{{ fields.button_link }}" target="_blank">{{ fields.button_text }}</a>
{% else %}
	<a class="editor-button-block__green" href="{{ fields.button_link }}">{{ fields.button_text }}</a>
{% endif %}