{% extends 'base.twig' %}

{% block content %}
<section class="global-page-wrapper">
	<div class="default-container">
		<section class="news-page-container">
			<aside class="tax-menu">
				<span>Categories</span>
				{% for news_type in news_types %}
					<a class="news-tax {{ news_type|split('')|join() }}" href="#{{ news_type|split('')|join() }}">{{ news_type.name|split(' ')|join('') }}</a>
				{% endfor %}
			</aside>

			<div class="news-wrapper">
				<div class="newsletters">
					{% for post in posts %}
						<article class="newsletter {{ post.terms('news-type')|join('') }}">
							<a href="{{ post.link }}"><h3>{{ post.title }}</h3></a>
							<time>{{ post.post_date|date('m.d.y') }}</time>
							<p>{{ post.preview }}</p>
						</article>
					{% endfor %}
				</div>

				<div class="pagination-links">
					<p>Post Navigation</p>
					{{ paginate }}
				</div>
			</div>
		</section>
	</div>
</section>
{{ cleanup }}
{% endblock %}