{% extends 'base.twig' %}

{% block content %}
<section class="global-page-wrapper">
	<div class="facet-container" style="background-image: url('{{ theme.link }}/static/images/speckle-gradient-background.jpg');">
		<div class="facet-header">
			{% if fn('is_page', 35) %}
				<h1 class="h1-heading--w">Kansas Wheat Alliance Varieties</h1>
			{% elseif fn('is_page', 37) %}
				<h1 class="h1-heading--w">Buy Kansas Wheat Alliance Varieties</h1>
			{% endif %}
			<span class="pre-facet-text">Find the right variety for your operation</span>
		</div>
		<div class="facet-filter-group">
			{{ fn('do_shortcode', '[facetwp facet="seed_class_facet"]') }}
			{{ fn('do_shortcode', '[facetwp facet="region_facet"]') }}
			<button class="reset-button" onclick="FWP.reset()">Reset</button>
		</div>
	</div>

	{# add post order to these cards (client choice) #}
	<div class="default-container">
		<div class="facetwp-template visible">
			{% for seed in seeds %}
				{% if fn('is_page', 35) %}
					<div class="seed-card green-card">
						{% if seed.is_new %}
							<div class="new-banner">NEW</div>
						{% endif %}
						<img src="{{ seed.thumbnail.src }}" alt="Field Image" />
						<span>{{ seed.terms('seed-class')|join() }}</span>
						<h4>{{ seed.title }}</h4>
						<ul>
							{% for seed_highlight in seed.get_field('seed_highlights') %}
								<li>{{ seed_highlight.highlight }}</li>
							{% endfor %}
						</ul>
						<a class="primary-button--g" href="{{ seed.link }}">View {{ seed.title }}</a>
					</div>
				{% elseif fn('is_page', 37) %}
					<div class="seed-card purple-card">
						{% if seed.is_new %}
							<div class="new-banner">New</div>
						{% endif %}
						<img src="{{ seed.thumbnail.src }}" alt="Field Image" />
						<span>{{ seed.terms('seed-class')|join() }}</span>
						<h4>{{ seed.title }}</h4>
						<ul>
							{% for seed_highlight in seed.get_field('seed_highlights') %}
								<li>{{ seed_highlight.highlight }}</li>
							{% endfor %}
						</ul>
						<a class="primary-button--p" href="{{ seed.link }}/#buy">Buy {{ seed.title }}</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div> {# /.default-container #}
</section>
{% endblock %}

{% block abovefooter %}
{% endblock %}