{% block html_head_container %}
	{% include 'html-header.twig' %}
	</head>
{% endblock %}

<body data-template="base.twig" class="{{ body_class }}">

	<div class="outer-nav-wrapper">
		{% include 'navigation.twig' %}
	</div>

	<header class="header-wrapper">
		{% block main_page_header %}
		{% endblock %}
	</header>

	<div class="content-wrapper">
		{% block content %}
		{% endblock %}

		{% block abovefooter %}
		{% endblock %}
	</div>

	{% include 'footer.twig' %}

	{{ function('wp_footer') }}
	{% include 'external-scripts.twig' %}
</body>
</html>