{% extends 'base.twig' %}
{% set address_link = 'https://www.google.com/maps/place/Kansas+Wheat+Alliance/@39.2048419,-96.592311,18.01z/data=!4m13!1m7!3m6!1s0x87bdcdefaf05f201:0xecbb9c5d474b8a1!2s1990+Kimball+Ave,+Manhattan,+KS+66502!3b1!8m2!3d39.2049663!4d-96.5912692!3m4!1s0x87bdcdefaf05f1ff:0x148aa444461b5ab6!8m2!3d39.2049267!4d-96.5912105' %}

{% block main_page_header %}
<div class="interior-header">
	<span class="h5-heading">{{ parent }}</span>
	<h1>{{ post.title }}</h1>
</div>
{% endblock %}

{% block content %}
<section class="global-page-wrapper">
	<div class="contact-container">
		<div class="map-container">
			<div id="map"></div>
		</div>
		<div class="default-container-short">
			<address class="contact-address">
				<a class="plain-link" href="{{ address_link }}" target="_blank" rel="nofollow">
					<span>Kansas Wheat Alliance</span><br/>
					{{ options.kwa_address }}
				</a>
				<a class="plain-link" href="tel:{{ options.kwa_phone_number }}">{{ options.kwa_phone_number }}</a>
			</address>

			<div class="form-container">
				<h4>We'd love to hear from you!</h4>
				{{ contact_form }}
			</div>
		</div>
	</div>
</section>

<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.js"></script>
<script>
	mapboxgl.accessToken = 'pk.eyJ1Ijoiam9yZGFuNTAyIiwiYSI6ImNqZWVoZmQ3aTI5MWQyd28xMDZiN3R5aXcifQ.IpeRF59rJ3j7A4FPEGp5SA';
	var map = new mapboxgl.Map({
		container: 'map', // div#map
		style: 'mapbox://styles/jordan502/ck7xjlmkf0ryx1il9grzcdzdw'
	});

	map.scrollZoom.disable(); // allows user to scroll/swipe without zooming (still allows panx/y)
	map.addControl(new mapboxgl.NavigationControl());
</script>
{% endblock %}