{# Global site tag (gtag.js) - Google Analytics #}
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117249561-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-117249561-1');
</script>

{# Hotjar Tracking Code #}
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1218406,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

{# Termly Tracking Code #}
<script type="text/javascript">
	(function(d, s, id) { var js, tjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return; js = d.createElement(s);
	js.id = id; js.src = "https://app.termly.io/embed-policy.min.js";
	tjs.parentNode.insertBefore(js, tjs); }(document, 'script', 'termly-jssdk'));
</script>