{% block footer %}
{% set address_link = 'https://www.google.com/maps/place/Kansas+Wheat+Alliance/@39.2048419,-96.592311,18.01z/data=!4m13!1m7!3m6!1s0x87bdcdefaf05f201:0xecbb9c5d474b8a1!2s1990+Kimball+Ave,+Manhattan,+KS+66502!3b1!8m2!3d39.2049663!4d-96.5912692!3m4!1s0x87bdcdefaf05f1ff:0x148aa444461b5ab6!8m2!3d39.2049267!4d-96.5912105' %}

<footer class="site-footer">
	<div class="client-info">
		<div class="left-wrap">
			<a href="/"><img src="{{ theme.link }}/static/images/kwa-logo-white.png" alt="Kansas Wheat Alliance" /></a>
			<div class="divider"></div>
			<address>
				<a href="{{ address_link }}" target="_blank" rel="nofollow">
					{{ options.kwa_address }}
				</a>
				<a href="tel:{{ options.kwa_phone_number }}">{{ options.kwa_phone_number }}</a>
			</address>
		</div>
		<div>
			<a class="primary-button--t" href="/buy-seed">Buy KWA Seed</a>
		</div>
	</div>
	<div class="site-info">
		<a href="/site-policies-disclosures/">Site Policies &amp; Disclosures</a>
		<small>Copyright &copy; {{ date_year }} Kansas Wheat Alliance | All Rights Reserved</small>
		<a href="https://weare502.com" target="_blank" rel="nofollow">Website Design &amp; Development by {% include 'static/icons/502-logo.svg' %}</a>
	</div>
</footer>
{% endblock %}