{% extends 'base.twig' %}

{% block main_page_header %}
<div class="home-header" style="background-image: url('{{ post.thumbnail.src }}');">
	<div class="purple-filter-box">
		<span class="callout-text">Farmer Preferred Traits.</span>
		<h1 class="h1-heading--w">Top-YieldiNg varieties.</h1> {# font type issue, lowercase/caps mix is intentional #}
		<span class="callout-text">Find the right variety for your operation</span>
		<div class="facet-filter-group">
			{{ fn('do_shortcode', '[facetwp facet="seed_class_facet"]') }}
			{{ fn('do_shortcode', '[facetwp facet="region_facet"]') }}
			<button class="primary-button--g fwp-submit" data-href="/varieties/">Go</button>
		</div>
	</div>
</div>

{# Hide this here so we can send the results to the Seed Archive (Varieties Page) #}
{# This is needed here to populate the Facets with data, then sends the query to the Archive page pre-sorted #}
<div style="display: none;">{{ fn('do_shortcode', '[facetwp template="home_query"]') }}</div>
{% endblock %}

{% block content %}
<section class="global-page-wrapper">

	<section class="featured-block-wrapper" style="background-image: url('{{ theme.link }}/static/images/mesh-bg.jpg');">
		<div class="featured-block-content">
			<div class="featured-post">
				<div class="featured-content">
					<h2>{{ post.featured_header }}</h2>
					<p>{{ post.featured_paragraph }}...</p>
					<a class="primary-button--g" href="{{ post.button_link }}">{{ post.button_text }}</a>
				</div>
			</div>
			<img class="featured-image" src="{{ TimberImage( post.featured_image ).src }}" alt="{{ TimberImage( post.featured_image ).alt }}" />
		</div>
	</section>

	<section class="recent-news">
		<h2>Recent News</h2>
		<div class="recent-news-cards">
			{% for recent_news in newsletters %}
				<a class="recent-news-post" href="{{ recent_news.link }}">
					<span class="h3-heading">{{ recent_news.title }}</span>
					<span class="p-styles">{{ recent_news.custom_excerpt|slice(0, 320) }}...</span>
					<span class="primary-button--g">Read Story</span>
				</a>
			{% endfor %}
		</div>

		<div class="home-testimonial">
			<div class="testimonial-image">
				<img src="{{ TimberImage( post.testimonial_left_image ).src }}" alt="{{ TimberImage( post.testimonial_left_image ).alt }}" />
			</div>
			<div class="divider"></div>
			<div class="testimonial-content">
				<img src="{{ theme.link }}/static/images/backed-by-farmers.png" alt="Backed by Farmers" />
				<h4>{{ post.testimonial }}</h4>
				<span>{{ post.reviewer_name }}</span>
			</div>
			<img class="microscope-image" src="{{ theme.link }}/static/images/microscope.png" alt="Microscope Image" />
		</div>
	</section>

	<section class="tweet-deck">
		<div class="tweet-deck__container">
			<span class="fa fa-twitter"></span>
			<div class="tweet-wrapper">
				<h2>Twheats</h2>
				{{ fn('do_shortcode', '[custom-twitter-feeds]') }}
				<a class="plain-link" href="https://twitter.com/KsWheatAlliance" target="_blank" rel="nofollow noreferrer">View on Twitter</a>
			</div>
			<div class="join-box">
				<h4>Interested in becoming a member?</h4>
				<a class="primary-button--t" href="/membership/">Join KWA</a>
			</div>
		</div>
	</section>
</section>
{% endblock %}