<!doctype html>
<html class="" lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>KWA | Kansas Wheat Alliance</title>
	{{ function('wp_head') }}
	<link rel="preload" as="font" href="{{ theme.link }}/fonts/veneer.ttf" type="font/ttf" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.typekit.net/rtr8dqt.css">