{% extends 'base.twig' %}

{% block main_page_header %}
<div class="interior-header">
	<span class="h5-heading">{{ parent }}</span>
	<h1>{{ post.title }}</h1>
</div>
{% endblock %}

{% block content %}
<section class="global-page-wrapper">
	<div class="default-container-short">
		{{ post.content }}
	</div>

	{# modal popup for varieties chart - src set in js #}
	{% if fn('is_page', 664) %}
		<div class="image-modal">
			<img id="src-set" src="" alt="Variety Chart" />
		</div>
	{% endif %}
</section>
{% endblock %}