{% extends 'base.twig' %}

{% block content %}
<section class="global-page-wrapper">
	<section class="default-container">
		<div class="seed-information-wrapper">
			<div class="info-content">
				<h1>{{ post.title }}</h1>
				<div class="seed-quick-facts">
					<h4>Seed Quick-Facts</h4>
					<div class="sqf-grid-item">
						<div class="border">
							<span>Pedigree</span>
							<p>{{ post.pedigree }}</p>
						</div>
					</div>

					<div class="sqf-grid-item">
						<div class="border">
							<span>Variety Protection Status</span>
							<p>{{ post.protection_status }}</p>
						</div>
					</div>

					<div class="sqf-grid-item">
						<div class="border">
							<span>Year of Release</span>
							<p>{{ post.year_of_release }}</p>
						</div>
					</div>

					<div class="sqf-grid-item">
						<div class="border">
							<span>Developer</span>
							<p>{{ post.developer }}</p>
						</div>
					</div>

					<div class="sqf-grid-item">
						<div class="border">
							<span>Optimal Economic Use</span>
							<p>{{ post.economic_uses }}</p>
						</div>
					</div>
				</div>
				<a class="primary-button--p" href="#buy">Buy {{ post.title }}</a>
			</div>

			<div class="media-container">
				{% if post.seed_video %}
					<div class="video-container">
						{{ fn('wp_oembed_get', post.seed_video) }}
					</div>
				{% else %}
					<img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" />
				{% endif %}
			</div>
		</div>
	</section>

	<div class="seed-highlights" style="background-image: url('{{ theme.link }}/static/images/seed-highlights-speckle.jpg');">
		<div class="highlight-container">
			<h3 class="h3-heading--w">Variety Highlights</h3>
			<div class="highlight-group">
				{% for seed_highlight in post.get_field('seed_highlights') %}
					<div class="highlight">
						<span class="h5-heading--w">{{ seed_highlight.highlight }}</span>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<section class="seed-info-wrapper">
		<div class="seed-editor-content">
			<div class="seed-editor-content__text">
				{{ post.content }}
			</div>
			<div class="seed-editor-content__map">
				<h3>Where to grow</h3>
				<img src="{{ TimberImage( post.grow_map ).src }}" alt="{{ TimberImage( post.grow_map ).alt }}" />
			</div>
		</div>
		<div class="tables-container">
			{% include 'seed-tables/disease-table.twig' %}
			{% include 'seed-tables/agronomic-table.twig' %}
			{% include 'seed-tables/weights-table.twig' %}
		</div>
	</section>

	{% if post.seed_review %}
		<div class="seed-testimonial">
			<div class="seed-testimonial__review">
				<img src="{{ theme.link }}/static/images/backed-by-farmers.png" alt="Backed by Farmers" />
				<h4>{{ post.seed_review }}</h4>
				<span>{{ post.review_author }}</span>
			</div>
		</div>
	{% endif %}

	<section id="buy" class="seed-dealers-wrapper">
		<h2>Where to buy {{ post.title }}</h2>
		<span class="h5-heading">Select your growing region</span>
		<div class="facet-filter-group">{{ fn('do_shortcode', '[facetwp facet="dealer_facet"]') }}</div>

		<div class="facetwp-template dealers-grid-wrapper">

			{# only loop through trailblazer dealers if any exist #}
			<div class="trailblazer-grid">
				{% for t_dealer in dealers if t_dealer.is_trailblazer %}
					{% set gmap_url = 'https://google.com/maps/search/' ~ t_dealer.dealer_address ~ ',' ~ t_dealer.dealer_city_and_state ~ ',' ~ t_dealer.dealer_zip_code %}
					<div class="dealer-card">
						<img src="{{ t_dealer.thumbnail.src }}" alt="{{ t_dealer.thumbnail.alt }}" />
						<h5><a href="{{ t_dealer.link }}">{{ t_dealer.title }}</a></h5>
						<a href="tel:{{ t_dealer.dealer_phone_number }}" class="plain-link">{{ t_dealer.dealer_phone_number }}</a>
						<a href="{{ gmap_url }}" class="plain-link" target="_blank">
							{{ t_dealer.dealer_address }} {{ t_dealer.dealer_address_two }}<br/>
							{{ t_dealer.dealer_city_and_state }} {{ t_dealer.dealer_zip_code }}
						</a>
						{% if t_dealer.dealer_website %}
							<a href="{{ t_dealer.dealer_website }}" class="plain-link dealer-link" target="_blank" rel="nofollow noreferrer">{{ t_dealer.dealer_website|replace({'https://': '', 'http://': '', 'www.': ''}) }}</a>
						{% endif %}
					</div>
				{% endfor %}
			</div>

			{# only loop through regular (non-trailblazer) dealers #}
			<div class="non-trailblazer-grid">
				{% for nt_dealer in dealers if not nt_dealer.is_trailblazer %}
					{% set gmap_url = 'https://google.com/maps/search/' ~ nt_dealer.dealer_address ~ ',' ~ nt_dealer.dealer_city_and_state ~ ',' ~ nt_dealer.dealer_zip_code %}
					<div class="dealer-card--regular">
						<h5>{{ nt_dealer.title }}</h5>
						<a href="tel:{{ nt_dealer.dealer_phone_number }}" class="plain-link">{{ nt_dealer.dealer_phone_number }}</a>
						<a href="{{ gmap_url }}" class="plain-link" target="_blank">
							{{ nt_dealer.dealer_address }} {{ nt_dealer.dealer_address_two }}<br/>
							{{ nt_dealer.dealer_city_and_state }} {{ nt_dealer.dealer_zip_code }}
						</a>
						{% if nt_dealer.dealer_website %}
							<a href="{{ nt_dealer.dealer_website }}" class="plain-link dealer-link" target="_blank" rel="nofollow noreferrer">{{ nt_dealer.dealer_website|replace({'https://': '', 'http://': '', 'www.': ''}) }}</a>
						{% endif %}
					</div>
				{% endfor %}
			</div>

		</div> {# /.facetwp-template   /.dealers-grid-wrapper #}
	</section>

</section> {# /.global-page-wrapper #}
{% endblock %}

{% block abovefooter %}
	<div class="seed-extra-info">
		<div class="top-border"></div>
		<div class="seed-extra-info__container">
			{% if post.pvp_approved_toggle %}
				<a class="primary-button--g" href="{{ post.seed_data_sheet }}" target="_blank">View Data Sheet</a>
				<div>
					<img src="{{ theme.link }}/static/images/pvp-logo.jpg" alt="PVP Status Logo" />
					<p>{{ options.pvp_approved }}</p>
				</div>
			{% elseif post.awaiting_review_toggle %}
				<a class="primary-button--g" href="{{ post.seed_data_sheet }}" target="_blank">View Data Sheet</a>
				<div>
					<img src="{{ theme.link }}/static/images/pvp-logo.jpg" alt="PVP Status Logo" />
					<p>{{ options.pvp_awaiting_review }}</p>
				</div>
			{% else %}
				<a class="primary-button--g btn-center" href="{{ post.seed_data_sheet }}" target="_blank">View Data Sheet</a>
			{% endif %}
		</div>
	</div>
{% endblock %}