{% extends 'base.twig' %}

{% block content %}
<section class="global-page-wrapper">
	<section class="default-container-wide">
		<div class="single-dealer-post">
			<img class="dealer-logo" src="{{ TimberImage( post.dealer_logo ).src }}" alt="{{ TimberImage( post.dealer_logo ).alt }}" />
			<h1>{{ post.title }}</h1>

			{% if not post.dealer_website %}
				<div class="dealer-info">
			{% else %}
				<div class="dealer-info-site">
			{% endif %}
				{% if post.dealer_phone_number %}
					<span><a href="tel:{{ post.dealer_phone_number }}">{{ post.dealer_phone_number }}</a></span>
				{% endif %}
				{% if post.dealer_address %}
					<div class="divider"></div>
					<span>{{ post.dealer_address }}, {{ post.dealer_city_and_state }}, {{ post.dealer_zip_code }}</span>
				{% endif %}
				{% if post.dealer_website %}
					<div class="divider"></div>
					<span><a href="{{ post.dealer_website }}">{{ post.dealer_website|replace({'http://':'', 'https://':''}) }}</a></span>
				{% endif %}
			</div>
			<img class="dealer-image" src="{{ TimberImage( post.thumbnail ).src }}" alt="{{ TimberImage( post.thumbnail ).alt }}" />
			<div class="dealer-message-content"><p>{{ post.dealer_message }}</p></div>

			<div class="available-seed">
				<h4 class="add-underline">We are proud to offer these Kansas Wheat Alliance Varieties</h4>
				<div class="available-seed-grid">
					{% for t_seed in t_seeds %}
						{% if t_seed.title in post.terms('seed-sold')|join('')  %}
							<div class="seed-card purple-card">
								<img src="{{ t_seed.thumbnail.src }}" alt="Dealer Image" />
								<span>{{ seed.terms('seed-class')|join() }}</span>
								<h4>{{ t_seed.title }}</h4>
								<ul>
									{% for seed_highlight in t_seed.get_field('seed_highlights') %}
										<li>{{ seed_highlight.highlight }}</li>
									{% endfor %}
								</ul>
								<a class="primary-button--p" href="{{ t_seed.link }}">Learn More</a>
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
</section>
{% endblock %}

{% block abovefooter %}
{% endblock %}