{% extends 'base.twig' %}

{% block main_page_header %}
<div class="interior-header">
	<span class="h5-heading">{{ post.terms('news-type')|join('') }}</span>
	<h1>{{ post.title }}</h1>
	<time>{{ post.date }}</time>
</div>
{% endblock %}

{% block content %}
<section class="global-page-wrapper">
	<div class="single-news-wrapper">
		<article class="newsletter">
			{{ post.content }}
		</article>
		<div class="author-info">
			<p>{{ post.news_author }}</p>
			{{ fn('do_shortcode', '[shared_counts]') }}
		</div>
	</div>
</section>
{% endblock %}

{% block abovefooter %}
<section class="post-navigation-links" role="navigation" aria-label="Newsletter Post Navigation">
	<div class="post-nav-grid">
		{% if not post.prev is empty %}
			<a class="post-previous slide--left" href="{{ post.prev.path }}">
				<span class="arrow-left">{% include '/static/icons/arrow-left.svg' %}</span>
				<span class="h4-heading">{{ post.prev.title }}</span>
				<span class="post-preview">{{ post.prev.preview.length(15).force }}</span>
			</a>
		{% else %}
			<a class="post-previous--no-post">
				<span class="h4-heading">No older posts</span>
			</a>
		{% endif %}

		{% if not post.next is empty %}
			<a class="post-next slide--right" href="{{ post.next.path }}">
				<span class="arrow-right">{% include '/static/icons/arrow-right.svg' %}</span>
				<span class="h4-heading">{{ post.next.title }}</span>
				<span class="post-preview">{{ post.next.preview.length(15).force }}</span>
			</a>
		{% else %}
			<a class="post-next--no-post">
				<span class="h4-heading">No newer posts</span>
			</a>
		{% endif %}
	</div>
</section>
{% endblock %}