// Facet Header Styles (Facet dropdown styles in [_facet-styles.scss]
.facet-container {
	max-width: 100%;
	padding: 2rem 1rem;
	margin: -2rem auto 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	z-index: 5; // nav is at 25
	@include bp(sm) { padding: 2rem 1rem 7.25rem; }

	.facet-header {
		position: relative;
		max-width: 61rem;
		margin: 0 auto;
		text-align: center;
		@include bp(652px) { text-align: left; }

		h1 {
			margin: 2.5rem auto 1rem;
			@include bp(652px) { margin: 2.5rem auto; }
		}

		.pre-facet-text {
			display: inline-block;
			font-family: $calder;
			font-size: 1.125rem;
			text-transform: uppercase;
			color: $white;
			margin-bottom: 1rem;
		}
	}
	// all facet styles in [_facet-styles.scss]
}

// facet styles for this page only
.page-template-archive-seed {
	.facet-filter-group {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-bottom: 4rem;
		text-align: center;
		@include bp(sm) { margin-bottom: 0; }

		@include bp(652px) {
			justify-content: initial;
		}

		.facetwp-facet {
			margin-top: 1rem;
			margin-right: 0;

			@include bp(571px) {
				margin-right: 2.5rem;
			}

			@include bp(652px) {
				margin-top: unset;
			}
		}

		select {
			width: 16.875rem;
		}
	}
}

// Seed Card Grid
.default-container {
	.facetwp-template {
		display: grid;
		max-width: 61rem;
		margin: -2.65rem auto 5rem;
		grid-template-columns: repeat(auto-fit, minmax(17.5rem, 17.5rem)); // fill to container edge on mobile
		column-gap: 4.25rem; //  [(4.25 * 2) + (17.5 * 3)] = 61
		row-gap: 4.25rem;
		justify-content: center;
		@include bp(md) { justify-content: left; }

		.seed-card {
			position: relative;
			padding: 1rem;
			border-radius: 3px;
			box-shadow: $card-shadow;
			background: $white;
			transition: unset;
			overflow: hidden; // hide edges of "NEW!" banner

			img {
				display: block;
				margin: 0 auto;
				max-height: 9.5rem;
				margin-bottom: 1.25rem;
			}

			span {
				display: block;
				color: $purple;
			}

			ul {
				display: block;
				list-style: none;
				margin: 0 0 1rem 0;
				padding: 0 0 0 0.25rem;
				@include bp(sm) { min-height: 6.5rem; }

				li {
					display: table-row;
					margin-bottom: 0.05rem;

					&:before {
						display: table-cell;
						content: '\00B7';
						position: relative;
						font-size: 1.25rem;
						top: 0.05rem;
						right: 0.25rem;
					}
				}
			}

			.primary-button--g,
			.primary-button--p {
				position: relative;
				bottom: 0;
				color: $white;
			}

			// NEW! banner
			.new-banner {
				position: absolute;
				top: 0.5rem;
				left: -1.55rem;
				transform: rotate(315deg);
				max-width: 6rem;
				width: 100%;
				background-color: $purple;
				color: $white;
				font-size: 1rem;
				text-transform: uppercase;
				text-align: center;
				font-weight: bold;
				padding: 0.25rem;
				font-family: $font-body;
			}
		}

		.green-card {
			&:hover {
				transition: unset;
				box-shadow: 0 0 3px 0 #637029;
			}
		}

		.purple-card {
			&:hover {
				transition: unset;
				box-shadow: 0 0 3px 0 $purple;
			}
		}
	}
} // end .default-container target for facetwp-template class