.primary-button {
	display: block; // change to inline-block on buttons that should not be "full-width" of the parent container
	padding: 0.75rem 2.5rem;
	font-family: $font-head;
	font-size: 1.125rem;
	font-weight: bold;
	text-align: center;

	&--w, &--g, &--p, &--t { @extend .primary-button; }

	// white
	&--w {
		background-color: $white;
		color: $light-black;
		border: 1px solid transparent;

		&:hover {
			background-color: transparent;
			color: $white;
			border: 1px solid $white;
		}
	}

	// green
	&--g {
		padding: 0.75rem 1.25rem;
		background-color: $green;
		color: $white;
		&:hover { box-shadow: $button-shadow; }
	}

	//purple
	&--p {
		padding: 0.75rem 1.25rem;
		background-color: $purple;
		color: $white;
		&:hover { box-shadow: $button-shadow; }
	}

	// transparent (ghost-style)
	&--t {
		background-color: transparent;
		color: $white;
		border: 1px solid $white;

		&:hover {
			background-color: $white;
			color: $light-black;
		}
	}
}

// simple button color transitions / only load on laptop+
@include mq($from: $laptop) {
	.slide {
		&--left {
			background-size: 200% 100%;
			background-image: linear-gradient(to left, $off-white 50%, transparent 50%);
			transition: background-position 0.3s;

			&:hover {
				background-position: 100% 0;
				transition: background-position 0.3s;
			}
		}

		&--right {
			background-size: 200% 100%;
			background-image: linear-gradient(to right, transparent 50%, $off-white 50%);
			transition: background-position 0.3s;

			&:hover {
				background-position: -100% 0;
				transition: background-position 0.3s;
			}
		}
	} // end .slide-button (parent)
}