.contact-container {
	max-width: 48.875rem;
	margin: 0 auto;
	padding: 1rem;

	.default-container-short { padding: unset; }
}

// Mapbox
.map-container {
	position: relative;
	margin: 0 auto;
	max-width: 100%;
	height: 15rem;
	@include bp(xs) { height: 18rem; }
	@include bp(sm) { height: 20rem; }
}

#map {
	position: relative;
	margin: 0 auto;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

// make buttons and controls visible
.mapboxgl-ctrl.mapboxgl-ctrl-group {
	position: absolute;
	width: 4rem;
	top: 0;
	right: 0;
	padding: 1rem;

	button, [type="button"], [type="reset"], [type="submit"] {
		-webkit-appearance: none;
		margin-bottom: 0.5rem;
		width: 2rem;
		height: 2rem;
		padding: 0;
		background-color: $light-black;
		color: $white;
		border: none;
	}

	// hide map clutter
	.mapboxgl-ctrl-bottom-left,
	.mapboxgl-ctrl-bottom-right,
	.mapboxgl-ctrl-compass {
		display: none;
	}

	// zoom in button:  add + sign
	.mapboxgl-ctrl-zoom-in {
		&:before {
			content: '+';
			position: relative;
			font-weight: bold;
		}
		&:hover { cursor: pointer; }
	}

	// zoom out button:  add - sign
	.mapboxgl-ctrl-zoom-out {
		&:before {
			content: '-';
			position: relative;
			font-weight: bold;
		}
		&:hover { cursor: pointer; }
	}
}

// below map
.contact-address {
	display: flex;
	max-width: 27.9rem;
	margin: 1.5rem 0 3.5rem;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;

	span, a {
		line-height: 1.5;
		color: $light-black;
		&:hover { text-decoration: underline; }
	}
}

// contact form
.form-container {

	.gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]) {
		padding: 0.625rem; // 10px
	}

	.gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="file"]) {
		line-height: 1.2;
	}

	#gform_1 {

		// all fields
		.gfield {
			margin-top: 1.25rem;
			padding-right: 0;
			@include bp(sm) { padding-right: 1rem; }
		}

		// Name field
		#field_1_1.gfield {
			margin-top: 0;
		}

		// email field
		#field_1_2.gfield {
			margin-top: 1.25rem;
			@include bp(sm) { margin-top: 0; }
		}

		// all input containers (divs)
		.ginput_container {
			margin-top: 0;
			input { margin-top: 0; }
		}

		// all inputs
		#input_1_1, #input_1_2, #input_1_3, #input_1_4 {
			border: 1px solid $grey-three;
			border-radius: 2px;
		}

		// Name and Email fields
		#field_1_1, #field_1_2 {
			width: 100%;
			padding-right: 0;
			@include bp(sm) { width: 21rem; }

			input { width: 100%; }
		}

		// Name and Email fields (set side-by-side)
		#field_1_1, #field_1_2 { display: inline-block; }

		// Email Field
		@include bp(sm) {
			#field_1_2 {
				position: relative;
				right: -0.75rem;
			}
		}

		// subject field
		#field_1_3 {
			input { width: 100%; }
		}

		.gform_footer { margin-top: 0; }

		#gform_submit_button_1 {
			display: inline-block;
			max-width: 7rem;
			appearance: none;
			border: unset;
			transition: 0.2s ease-out;
			@extend .primary-button--g;

			&:hover {
				cursor: pointer;
				transition: 0.2s ease-out;
			}
		}
	} // end #gform_1
}