/*
	The container element for these facets determines the wrapping and flow of content (per page basis).
	These control styles for all facets sitewide
*/

.facet-filter-group {
	position: relative;
	display: flex;
	margin: 0 auto;
	max-width: 61rem;
	align-items: center;

	.facetwp-facet {
		display: block;
		margin-right: 2.5rem;
		position: relative;
		margin-bottom: 0;
		background-color: $white;
		border-radius: 6px; // 1px more to "wrap" borders

		&:after {
			content: '\f0dd';
			font-family: FontAwesome;
			font-size: 0.75rem;
			position: absolute;
			top: 0;
			right: 0;
			background-color: $green;
			padding: 12px 14px 12px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;
			@include bp(xs) { padding: 15px 14px 17px; }
			@include bp(sm) { padding: 17px 14px 19px; }
		}
	}

	select, option {
		font-family: $font-body;
		font-size: 1rem !important;
		color: $light-black;
	}

	select {
		appearance: none;
		-webkit-appearance: none;
    	-moz-appearance: none;
		display: block;
		position: relative;
		width: 16.875rem;
		padding: 0.4rem 0.5rem;
		border: 1px solid $dark-purple;
		border-radius: 5px;
		background: transparent;
		z-index: 2;
		line-height: 1.5;

		@include bp(xs) { padding: 0.65rem 0.5rem; }

		@include bp(sm) {
			padding: 0.8rem 0.5rem;
			width: 14.875rem;
		}

		@include bp(800px) { width: 16.875rem; }

		&:hover { cursor: pointer; }
	}

	.reset-button {
		appearance: none; // remove button styles
		background: unset;
		border: 1px solid $white;
		position: absolute;
		bottom: -2.5rem;
		left: 50%;
		transform: translateX(-50%);
		color: $white;
		font-family: $font-body;
		font-size: 1rem;
		text-align: center;
		&:hover { cursor: pointer; }

		@include bp(652px) {
			left: 0;
			transform: unset;
		}

		@include bp(743px) {
			position: relative;
			padding-left: 0;
			bottom: 0;
			border: unset;
		}
	}
}

// show / hide facets until they are loaded (used for Dealers only)
.seed-template-default {
	.facetwp-template { display: none; }
	.facetwp-template.visible { display: block; }
}