.site-footer {
	position: relative;
	max-width: 100%;
	margin: 0 auto;
	padding: 1rem;
	background-image: url('./static/images/footer-texture.jpg');
	background-position: center;
	background-repeat: repeat; // no stretch on mobile when footer becomes taller
	border-top: 8px solid $purple;
	z-index: 5;

	@include bp(sm) {
		background-position: center;
		background-repeat: no-repeat; // in addition to cover
		background-size: cover; // background has proper dimensions to fit at tablet+
	}

	.client-info {
		display: flex;
		max-width: 75rem;
		margin: 0 auto;
		padding: 1rem 0 1.5rem;
		justify-content: center;
		align-items: center;
		border-bottom: 1px solid $grey-three;
		flex-wrap: nowrap;
		flex-direction: column;

		@include bp(520px) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.left-wrap {
		display: flex;
		max-width: 30.25rem;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		@include bp(sm) {
			width: 100%;
			text-align: left;
			flex-direction: row;
			justify-content: space-between;
		}

		@include bp(900px) { max-width: 36.25rem; }

		img {
			max-width: 13.5rem;
			margin-bottom: 1rem;

			@include bp(sm) {
				margin-right: 2.5rem;
				margin-bottom: unset;
			}
			@include bp(md) { margin-right: 7.25rem; }
		}

		.divider {
			display: none;

			@include bp(sm) {
				display: block;
				height: 6.875rem;
				width: 1px;
				background-color: $white;
			}
		}

		// increased line-height for extra space on address without extra <br/>
		address {
			margin-bottom: 1.5rem;
			@include bp(520px) { margin-bottom: unset; }

			a {
				display: block;
				font-size: 0.875rem;
				line-height: 1.8;
				color: $white;
				&:last-of-type { margin-top: 0.75rem; }
				&:hover { text-decoration: underline; }
			}
		}
	}

	// 680px
	.site-info {
		display: flex;
		max-width: 75rem;
		margin: 0 auto;
		padding: 1.5rem 0 0.5rem; // .5rem for bottom since footer has 1rem of padding around it
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include bp(680px) {
			flex-direction: row;
			justify-content: space-between;
		}

		small {
			margin-top: 0.75rem;
			margin-bottom: 0.75rem;
			@include bp(680px) { margin: unset; }
		}

		a {
			font-size: 0.625rem;
			color: $white;
			&:hover { text-decoration: underline; }
		}

		svg {
			vertical-align: sub;
			margin-left: 0.15rem;
		}
	}
}