.featured-block-wrapper {
	background-size: cover;
	padding: 0 1rem;
	margin: 0 auto 2rem;
	@include bp(sm) { margin: 0 auto 5rem; }

	.featured-block-content {
		position: relative;
		max-width: 75rem;
		margin: 0 auto;
		padding: 5.375rem 0;

		.featured-post {
			max-width: 40rem;
			margin: 0 auto;
			background-color: $white;
			box-shadow: 0 2px 4px 0 rgba($black, 0.5);
			padding: 1rem 1rem 5rem;

			@include bp(sm) {
				padding: 2.25rem 3rem 5rem;
			}

			@include bp(1085px) {
				max-width: 62.5rem;
				padding: 2.25rem 0 2.25rem 4rem;
				margin: unset;
			}
		}

		.featured-content {
			max-width: 33.75rem;
			margin-left: 0;
			p { margin-bottom: 2.625rem; }
			.primary-button--g { max-width: 9rem; }
		}

		.featured-image {
			display: block;
			position: relative;
			margin: -2.5rem auto 0;
			box-shadow: 0 14px 7px -5px rgba($black, 0.5);
			@include bp(xs) { max-width: 28rem; }

			// 1085px - no text content overlap
			@include bp(1085px) {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				margin: unset;
			}
		}
	}
}

.recent-news {
	position: relative; // for the microscope image at the bottom of this section
	padding: 1rem 0 5rem 0;
	// padding here allows the microscope image to stick to the bottom of the container
	// gives extra space below the testimonial as well

	h2 {
		color: $light-black;
		max-width: 75rem;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 3rem;

		// cards fit into row 15px before 'lg' breakpoint - move this left to align
		@include bp(1185px) { text-align: left; margin-bottom: unset; }
	}

	.recent-news-cards {
		display: flex;
		max-width: 77rem;
		margin: 1.3rem auto 3rem;
		justify-content: center;
		align-items: center;
		padding: 0 1rem;
		flex-wrap: wrap;
		@include bp(xs) { justify-content: space-around; }
		@include bp(1100px) { margin: 1.3rem auto 5rem; }

		@include bp(lg) {
			justify-content: space-between;
			align-items: flex-start;
		}
	}

	.recent-news-post {
		position: relative; // keep button inside container
		max-width: 100%;
		padding: 1rem;
		margin-bottom: 2rem;
		border: 2px solid $purple;
		background-color: $white;
		transition: background-color 0.1s ease-out;
		z-index: 2; // keep above microscope image
		@include bp(850px) { min-height: 23rem; max-width: 20rem; }
		@include bp(lg) { margin-bottom: 0; max-width: 24rem; }

		.h3-heading { color: $purple; }

		.p-styles {
			display: block;
			line-height: 1.2;
			color: $light-black;
			// @include bp(sm) { line-height: 1.5; }
		}

		.primary-button--g {
			max-width: 9rem;
			margin-top: 1rem;

			@include bp(850px) {
				position: absolute;
				bottom: 1rem;
				margin-top: unset;
			}

			@include bp(lg) { bottom: 2rem; }
		}

		&:hover {
			transition: background-color 0.1s ease-out;
			background-color: $purple;
			.h3-heading, .p-styles { color: $white; }
			.primary-button--g { box-shadow: $button-shadow; }
		}
	}

	.home-testimonial {
		position: relative; // for microscope image
		display: flex;
		max-width: 77rem;
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;

		@include bp(sm) {
			margin: 0 auto 4rem;
		}

		@include bp(1100px) {
			flex-direction: row;
			justify-content: space-between;
		}

		.testimonial-image img {
			max-width: 18rem;
			margin-bottom: 4rem;
			@include bp($iphone678) { max-width: 22rem; }
			@include bp(xs) { max-width: 24rem; }
			@include bp(1100px) { margin-bottom: 0; }
			@include bp(lg) { max-width: 26rem; }
		}

		@include mq($from: 1100px) {
			.divider {
				height: 17rem;
				width: 1px;
				padding: 0 0 0 1px;
				background-color: $green;
			}
		}

		.testimonial-content {
			max-width: 39.5rem;

			img {
				max-width: 14rem;
				@include bp(650px) { max-width: 16.5rem; }
			}

			h4 {
				color: $purple;
				line-height: 1.1;
			}

			span {
				display: inline-block;
				margin-top: 1rem;
				color: $light-black;
			}
		}
	}

	@include mq($until: 1099px) {
		.microscope-image {
			display: none;
		}
	}

	// sticks to bottom left of this container (home-testimonial)
	@include mq($from: 1100px) {
		.microscope-image {
			display: block;
			position: absolute;
			left: -2.5rem;
			z-index: 1;
			@include bp(lg) { left: -4rem; }
			@include bp(xl) { left: -7.5rem; }
		}
	}
}

.tweet-deck {
	padding: 3rem 1rem;
	background-color: $tan;
	margin-bottom: -1rem;
	margin-top: 0.3rem; // keeps microscope above container

	&__container {
		position: relative;
		display: flex;
		max-width: 60rem;
		margin: 0 auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include bp(850px) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}

		.fa-twitter {
			position: absolute;
			font-family: FontAwesome;
			font-size: 8.375rem;
			color: #D4B576;
			z-index: 1;
			top: 0;
			left: -4.5rem;
		}
	}

	.tweet-wrapper {
		max-width: 27.5rem;
		width: 100%;
		z-index: 2;

		// override plugin style
		#ctf .ctf-item { padding: 0 0 1rem; }

		h2 {
			width: 100%;
			border-bottom: 1px solid $light-black;
			margin-bottom: 1rem;
			color: $light-black;
		}

		.plain-link {
			max-width: 8rem;
			display: block;
			font-style: italic;
			color: $light-black;
		}
	}

	.join-box {
		max-width: 27.5rem;
		margin-top: 1.5rem;
		text-align: center;

		@include bp(sm) { text-align: left; }

		@include bp(850px) {
			max-width: 22rem;
			margin-top: 0;
		}

		h4 { margin-bottom: 1.5rem; }
		.primary-button--t {
			max-width: 11rem;
			margin: 0 auto;
			@include bp(sm) { margin: unset; }
		}
	}
}