.header-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

.home-header {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 50%;
	padding: 3rem 1rem;
	@include bp(sm) { padding: 6rem 1rem; }
	@include bp(md) { padding: 9rem 1rem; }

	.purple-filter-box {
		max-width: 75rem;
		margin: 0 auto;
		background-color: $purple;
		border-radius: 10px;
		padding: 1rem;
		text-align: center;
		box-shadow: 0 60px 20px -30px rgba($black, 0.5);
		@include bp(sm) { padding: 2.75rem 2.25rem; }
		@include bp(md) { padding: 2.75rem 6.25rem; }

		.callout-text {
			display: inline-block;
			font-family: $calder;
			font-size: 1rem;
			color: $white;
			@include bp(xs) { font-size: 1.2rem; }
			@include bp(sm) { font-size: 1.6875rem; }

			&:last-of-type { margin-bottom: 1rem; }
		}

		h1 {
			font-family: $veneer;
			font-size: 2.125rem;
			font-weight: normal;
			margin-top: 0.5rem;
			border-bottom: 1px solid $tan;
			line-height: 1.1;
			@include bp(xs) { font-size: 3.125rem; }
			@include bp(sm) { font-size: 5.125rem; }
			@include bp(md) { font-size: 6.125rem; margin-bottom: 1.5rem; }
			@include bp(lg) { font-size: 7.125rem; }
		}

		// core styles in [facet-styles.scss]
		// slight tweaks to this here (centered, smaller)
		.facet-filter-group {
			max-width: 45rem;
			margin: 0 auto;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			@include bp(700px) {
				flex-direction: row;
				justify-content: space-between;
				flex-wrap: nowrap;
			}

			.facetwp-facet {
				margin-right: 0;
				margin-top: 1rem;
				@include bp(sm) { margin-top: unset; }
			}

			button {
				appearance: none;
				border: none;
				margin-top: 1rem;
				width: 5rem;
				padding: 0.5rem 1rem;

				@include bp(sm) {
					margin-top: unset;
					padding: 0.75rem 1.25rem;
				}

				@include bp(md) { width: unset; }
				&:hover { cursor: pointer; }
			}
		}
	}
}