// global menu styles
.outer-nav-wrapper {
	position: relative;
	max-width:100%;
	width: 100vw;
	z-index: 30;
	border-bottom: 6px solid $purple;
	background-color: $white;
}

.nav-wrapper {
	position: relative;
	max-width: 100%;
	z-index: 25;

	// setup base menu ul styles
	.nav-container nav ul {
		padding: 0;
		list-style: none;
	}
}

// hamburger menu
#menu-toggle { display: none; }
.mobile-nav-top { display: none; }

// laptop+ styles
@include mq($from: 850px) {

	// no border or bottom padding on mobile
	.nav-container {
		display: flex;
		max-width: 77rem; // 2rem extra for 1rem padding on each side
		margin: 0 auto;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}

	.logo {
		max-width: 16.125rem;
		margin-right: 2rem;
	}

	#primary-menu { display: flex !important; } // needed to override jQuery slideToggle() - sets display: none - inline

	// <nav>
	.nav-menu {
		width: 40rem;

		// ul#primary-menu
		.menu {
			display: flex;
			max-width: 100%;
			justify-content: space-between;
			margin: 0;

			li {
				position: relative;
				padding: 0.75rem;
				z-index: 5;
				background-color: transparent;
				border-bottom: 2px solid transparent;

				&.current-menu-item {
					border-bottom: 2px solid $purple;
				}

				// remove purple underline from tabbed menu, current menu item, and sub menu items
				&:hover:not(.menu-item-has-children) {
					transition: 0.2s ease-out;
					background-color: $white;
					border-bottom: 2px solid $purple;
				}
			}

			li:not(.menu-item-has-children) { transition: 0.1s ease-out; }

			li a {
				color: $purple;
				font-family: $calder;
				font-weight: normal;
				font-size: 1.125rem;
				text-transform: uppercase;

				// explicit for   javascript: void(0)
				&:hover { cursor: pointer; }
			}

			// ul.sub-menu
			.sub-menu {
				position: absolute;
				top: 2.5rem;
				left: 0;
				visibility: hidden;
				opacity: 0;
				width: 12.5rem;
				overflow: hidden;
				background-color: $white;
				box-shadow: 0 0 4px 0 rgba($black, 0.5);
				border-radius: 5px;
				border-top-left-radius: unset;

				li {
					padding: unset;
					width: 100%;
					border-bottom: 1px solid $grey-five;
					box-shadow: none;
					border-radius: unset;
					z-index: 5;

					&.current-menu-item {
						background-color: $purple;
						a { color: $white; }
					}

					&:after {
						content: '';
						background-color: transparent;
					}

					// remove border bottom on sub menu items
					&:hover { border-bottom: 1px solid $grey-five !important; }

					// remove bottom border from last menu item in each sub-menu
					&:last-child { border-bottom: unset !important; }
				}

				li a {
					display: inline-block;
					padding: 0.75rem;
					width: 100%;
					font-family: $font-body;
					font-weight: normal;
					font-size: 0.875rem;
					color: $light-black;
					text-transform: none;
					transition: unset;

					&:hover {
						transition: unset;
						background-color: $purple;
						color: $white;
						border-radius: unset;
						cursor: pointer;
					}
				}
			}

			// varieties link
			#menu-item-141:hover:after {
				width: 7.9rem;
			}

			// buy seed link
			#menu-item-127:hover:after {
				width: 7.75rem;
			}

			// about link
			#menu-item-174:hover:after {
				width: 5.8rem;
			}

			// menus with children class target (they may add more)
			.menu-item-has-children {
				position: relative;
				z-index: 5;
				border-bottom-right-radius: unset;

				&:hover {
					box-shadow: 0 0 4px 0 rgba($black, 0.5);
					border-radius: 5px;
					z-index: 10;

					&:after {
						// hide shadow on top of menu
						content: '';
						background-color: $white;
						height: 1rem;
						width: 7.8rem; // default width (modified above with #menu-item-* id's
						position: absolute;
						top: 2.25rem;
						left: 0;
						z-index: 3;
					}
				}

				// first target link
				> a { position: relative; }

				&:hover {
					// show sub-menu
					.sub-menu {
						visibility: visible;
						opacity: 1;
						transition: visibility 0.1s ease-out;
					}
				}
			} // .menu-item-has-children
		} // .menu
	} // .nav-menu
}

// mobile to laptop styles
@include mq($until: 849px) {

	.logo { display: none; }

	// used to expand header with menu inside it
	.mobile-nav-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 1rem;

		.mobile-logo { max-width: 8.5rem; }
	}

	// mobile menu toggle X
	#menu-toggle {
		display: block;

		&:hover { cursor: pointer; }

		.x-bar {
			display: block;
			width: 1.6rem;
			height: 3px;
			margin-bottom: 6px;
			background-color: $purple;
			transition: 0.2s ease-out;
			border-radius: 1px;
		}

		.x-bar-active {
			position: relative;
			transition: 0.2s ease-in;
			margin-bottom: 0;
			height: 4px;

			&:nth-child(3n+1) {
				top: 0;
				transform: rotate(45deg);
			}

			&:nth-child(3n+2) {
				opacity: 0;
			}

			&:nth-child(3n+3) {
				bottom: 8px;
				transform: rotate(-45deg);
				margin-bottom: 0;
			}
		}
	}

	#primary-menu {
		display: none;
		position: relative;
		width: 100%;
		top: 1.5rem;
		text-align: center;
		overflow: hidden;

		li {
			margin-bottom: 1.5rem;
		}

		a {
			font-family: $calder;
			font-weight: bold;
			color: $purple;
			font-size: 1rem;
			letter-spacing: 3px;
			text-transform: uppercase;
		}

		.menu-item-has-children {
			position: relative;

			> a {
				position: relative;
			}

			// spacing for menu-items
			> li {
				margin-top: 0.75rem;
			}

			// sub-menu styles
			> .sub-menu {
				position: relative;
				width: 100%;
				top: 1rem;
				left: 0;
				right: 0;
				padding: 1rem;
				background-color: $purple;

				// no margin on last menu-item
				li {
					margin-bottom: 1.25rem;
					&:last-of-type { margin-bottom: 0; }

					a {
						color: $white;
						font-size: 0.875rem;
					}
				}
			}
		}
	}

	.sub-menu {
		display: none;
	}
}