// default container wraps this - max-width set to 61.25rem
.news-page-container {
	max-width: 100%;
	padding: 1rem;
}

.news-page-container {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;

	@include bp(sm) {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
	}

	.tax-menu {
		position: relative;
		max-width: 100%;
		margin-bottom: 3rem;

		@include bp(sm) {
			margin-top: 3rem;
			margin-right: 1rem;
		}

		span {
			width: 16rem;
			display: block;
			border-bottom: 1px solid $grey-three;
			font-family: $font-head;
			font-size: 1.125rem;
			color: $light-black;
			margin-bottom: 1rem;
			padding-bottom: 0.25rem;
			@include bp(sm) { width: 14rem; }
		}

		.news-tax {
			display: inline-block;
			max-width: 6rem;
			padding: 0.25rem;
			appearance: none;
			background: unset;
			border: none;
			font-family: $font-body;
			font-size: 0.875rem;
			color: $light-black;
			transition: none;

			@include bp(sm) {
				display: block;
			}

			&:hover {
				cursor: pointer;
				transition: none;
				font-weight: bold;
				color: $purple;
			}

			&.active {
				font-weight: bold;
				color: $purple;
			}
		}
	}

	.news-wrapper {
		max-width: 42.5rem;

		.newsletters {
			max-width: 42.5rem;
			display: block;

			article {
				border-bottom: 1px solid $grey-three;
				margin-bottom: 1.25rem;

				a:hover {
					text-decoration: underline;
					text-decoration-color: $purple;
					text-decoration-thickness: 2px;
				}

				h3 { margin-bottom: 0.75rem; }

				p, time {
					font-size: 0.875rem;
					color: $light-black;
				}

				time {
					display: inline-block;
					font-style: italic;
					margin-bottom: 1rem;
				}
			}
		}

		.pagination-links {
			display: block;
			max-width: 10rem;
			margin-top: 2rem;

			.page-numbers {
				padding: 0.3rem 0.75rem;
				margin-right: 1rem;
				font-family: $font-body;
				font-size: 1rem;
				color: $light-black;
				border: 1px solid $grey-one;

				&:hover:not(.current) {
					background-color: $purple;
					color: $white;
				}
			}

			.current {
				background-color: $purple;
				color: $white;
			}
		}
	}
} // end .news-page-container

.show-news { display: block; }