// spacing for container
.tables-container {
	margin: 3rem auto;
}

// table styles
.table-wrapper {
	max-width: 100%;
	margin: 2rem auto;
	overflow: scroll; // allow table to be scrolled on mobile
	@include bp(md) { overflow: hidden; } // whole table should be visible at this size

	table {
		width: 40rem;
		margin: 1rem auto;
		border-spacing: 0; // cannot have rounded borders with 'border-collapse: collapse;'
		border-bottom: 3px solid $purple;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;

		@include bp(sm) { max-width: 49rem; }

		// all <td> in the table
		td {
			width: 9.375rem;
			padding: 0.75rem;
			text-align: left;
			margin-bottom: 5rem;
			font-family: $font-body;
			font-size: 0.875rem; // 14px
			color: $light-black;
		}

		td.primary-seed {
			border: 1px solid $grey-one;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			border-bottom: unset;
			color: $purple;
		}

		tbody {

			// First row only
			tr:first-of-type {
				td:nth-child(1) {
					border-top: 3px solid $purple;
					border-top-left-radius: 3px;
				}

				td:nth-child(2) {
					border-top: 3px solid rgba($purple, 0.3);
				}

				td:nth-child(3), td:nth-child(4), td:nth-child(5) {
					border-top: 3px solid $purple;
				}

				td:last-child {
					border-top-right-radius: 3px;
				}
			}

			tr td {
				&:nth-child(2) {
					border-top: 1px solid rgba($purple, 0.3);
					border-left: 1px solid $purple;
					border-right: 1px solid $purple;
				}

				&:nth-child(4), &:nth-child(5) {
					border-left: 1px solid $purple;
				}
			}

			td {
				padding: 0.75rem;
				border-top: 1px solid $purple;

				// first data cell in each row (furthest left)
				&:first-of-type {
					border-left: 3px solid $purple;
					width: 12rem;
				}

				// last data cell in each row (furthest right)
				&:last-of-type {
					border-right: 3px solid $purple;
				}
			}
		}
	}
}