.seed-information-wrapper {
	display: flex;
	max-width: 100%;
	margin: 0 auto;
	padding: 1rem;
	justify-content: center;
	flex-direction: column-reverse;
	align-items: center;

	@include bp(875px) {
		justify-content: space-between;
		flex-direction: row;
	}

	// flex child (inner grid) left half
	.info-content {
		max-width: 23.75rem;

		.seed-quick-facts {
			display: grid;
			max-width: 23.75rem;
			padding: 1rem 0 1.25rem;
			margin: 1rem 0;
			grid-template-columns: repeat(1, 10.75rem);
			column-gap: 1rem;
			row-gap: 1.25rem;
			justify-content: center;
			border-top: 1px solid $grey-three;
			border-bottom: 1px solid $grey-three;
			@include bp($iphonex) { grid-template-columns: repeat(2, 10.75rem); max-width: 30rem; }

			// we want the first row to span both columns (removes need for an additional wrapper class)
			h4 { grid-column: 1 / -1; margin-bottom: 0; } // start at first column, end at last in row
			span { font-weight: bold; }
			p { margin: 0; }

			// keeps border as tall as the items inside the grid cell instead of the whole cell
			.border {
				padding-left: 0.5rem;
				border-left: 2px solid $purple;
			}
		}

		// reset width to width of button content + padding
		.primary-button--p {
			display: inline-block;
		}
	}

	// flex child right half
	.media-container {
		max-width: 55rem; // 480px
		margin-bottom: 2rem;
		margin-top: -2.2rem; // ensure all media items are 'tucked in' at top
		margin-left: -1rem;
		margin-right: -1rem;

		@include bp(875px) {
			margin: unset;
			max-width: 30rem;
		}

		// explicitly for this container
		img, video {
			width: 100%;
			@include bp(875px) { max-height: 20rem; }
		}
	}
}

.seed-highlights {
	width: 100%;
	margin: 0 auto 3rem;
	background-size: cover;
	background-position: 100% 100%;
	background-repeat: no-repeat;

	.highlight-container {
		display: flex;
		max-width: 61.25rem;
		margin: 0 auto;
		padding: 1rem;
		align-items: center;
		flex-direction: column;
		justify-content: space-between;
		@include bp(880px) { flex-direction: row; }

		.h3-heading--w {
			margin-bottom: 1.5rem;
			@include bp(650px) { margin-bottom: 2rem; }

			@include bp(880px) {
				margin-bottom: 0;
				border-right: 2px solid $green;
				padding: 1rem 2rem 1rem 0;
			}
		}

		@include mq($until: 880px) {
			.highlight-group {
				display: flex;
				max-width: 41rem;
				width: 100%;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				@include bp(650px) {
					justify-content: space-evenly;
					flex-direction: row;
				}

				.highlight {
					max-width: 100%;
					text-align: center;
					@include bp(650px) { max-width: 9.5rem; }

					span {
						font-size: 0.75rem; // 12px
						margin-bottom: 1rem;
						@include bp(650px) { margin-bottom: 0; }
					}
				}
			} // end .highlight-group
		}

		@include bp(sm) {
			.highlight-group {
				max-width: 30rem;
				margin: 0 auto;
			}
		}

		// last highlight (no bottom margin)
		.highlight-group .highlight:nth-child(3n+3) > span {
			margin-bottom: 0;
		}
	}
} // end .seed-highlights

.seed-info-wrapper {
	max-width: 63.25rem;
	margin: 0 auto;

	.seed-editor-content {
		display: flex;
		max-width: 100%;
		margin: 0 auto;
		padding: 1rem;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;

		@include bp(800px) {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}

		&__text {
			max-width: 25rem;
			@include bp(800px) { max-width: 28rem; }
		}

		&__map {
			margin-left: 0;
			margin-bottom: 2rem;
			max-width: 25rem;

			@include bp(800px) {
				margin-bottom: 0;
				margin-left: 2rem;
				max-width: 28rem;
			}

			img {
				@include bp(800px) { min-width: 25rem; }
			}
		}
	}
}

.seed-testimonial {
	background-color: $off-white;
	margin: 6rem auto 3rem;
	padding: 0 1rem;

	&__review {
		max-width: 39.5rem;
		margin: 0 auto;
		padding-bottom: 1.5rem;

		img {
			margin-top: -1.2rem;
			max-width: 14rem;

			@include bp(850px) {
				margin-top: -1.5rem;
				max-width: 16.5rem;
			}
		}

		h4 {
			color: $purple;
			padding-bottom: 0.75rem;
		}

		span { color: $light-black; }
	}
}

// main container wrapper for dealers section
.seed-dealers-wrapper {
	max-width: 63.25rem;
	margin: 2rem auto;
	padding: 1rem;

	h2, .h5-heading { text-align: center; }

	h2 { margin-bottom: 1.875rem; }

	.h5-heading { color: $light-black; }

	// facet adjustments for this page
	.facet-filter-group {
		margin: 0 auto;
		justify-content: center;

		.facetwp-facet { margin-right: unset; }
	}

	/**
		grid styles for dealers
		Trailblazer dealers have a 3 col grid
		Non-Trailblazers have a 2 col grid split in half
	*/

	// main wrapper
	.dealers-grid-wrapper {
		margin: 2rem auto;
		max-width: 61.25rem;
	}

	// properties applied to both grids and children
	.trailblazer-grid,
	.non-trailblazer-grid {
		display: grid;
		max-width: 61rem;
		margin: 2.5rem auto;
		justify-content: center;
		@include bp(md) { justify-content: left; }
	}

	// TB specific grid styles
	.trailblazer-grid {
		grid-template-columns: repeat(auto-fit, minmax(17.5rem, 17.5rem));
		column-gap: 4.25rem; //  [(4.25 * 2) + (17.5 * 3)] = 61
		row-gap: 2.25rem;
	}

	// NTB specific grid styles (match grid on mobile - expand to just a 2 column grid on desktop
	.non-trailblazer-grid {
		grid-template-columns: repeat(auto-fit, minmax(17.5rem, 17.5rem));
		column-gap: 4.25rem; //  [(4.25 * 2) + (17.5 * 3)] = 61
		row-gap: 1rem;

		@include bp(1008px) {
			grid-template-columns: repeat(auto-fit, minmax(18rem, 27.5rem));
			column-gap: 6rem; //  [6 + (27.5 * 2)] = 61
			row-gap: 1rem;
		}
	}

	// all cards inside each grid
	.dealer-card, .dealer-card--regular {
		padding: 1rem 1rem 1.25rem;

		h5, h5 > a, .plain-link { color: $light-black; }

		h5 > a {
			font-size: 0.9375rem;
			font-weight: normal;
			font-family: $calder;
			color: $light-black;
			@include bp(sm) { font-size: 1.125rem; } // 18px max
			&:hover { text-decoration: underline; }
		}

		.plain-link {
			display: block;
			margin-top: 1rem;
			margin-bottom: 1rem;
			&:last-child { margin-bottom: 0; }
		}

		.dealer-link { color: $green; }
	}

	// trailblzer dealer cards
	.dealer-card {
		border: solid 1px transparent;
		border-radius: 3px;
		box-shadow: $card-shadow;

		&:hover {
			box-shadow: 0 0 3px 0 $purple;
		}

		h5 {
			padding: 1rem 0 0.5rem;
			border-bottom: 1px solid $grey-three;
		}

		// non-trailblazer dealer cards
		&--regular {
			// apply border to all cards top and bottom
			border-top: 1px solid $grey-three;

			// apply border-top to only first and second iterations of these when it breaks into multiple columns
			@include bp(660px) {
				border-top: unset;
				border-bottom: 1px solid $grey-three;
				&:nth-of-type(1), &:nth-of-type(2) { border-top: 1px solid $grey-three; }
			}
		}
	}
}

// PVP status area
.seed-extra-info {
	max-width: 77rem;
	margin: 1rem auto 0;
	padding: 1rem;
	@include bp(sm) { margin: 5rem auto 0; }

	.top-border {
		max-width: 100%;
		height: 1px;
		margin: 0 auto;
		background-color: $grey-three;
	}

	&__container {
		display: flex;
		max-width: 40rem;
		margin: 0 auto;
		padding: 3rem 0 1rem;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		flex-direction: column;
		
		@include bp(650px) {
			flex-direction: row;
			justify-content: space-between;
		}

		@include bp(sm) { padding: 5rem 0 3rem; }

		> a {
			margin-bottom: 1.5rem;
			@include bp(650px) { margin-bottom: unset; }
		}

		.btn-center { margin: 0 auto; }

		div { max-width: 22.5rem; }

		img {
			float: left;
			margin-top: 0.5rem;
			margin-right: 1rem;
			margin-bottom: 5rem; // prevent pvp text from wrapping under
			@include bp(650px) { margin-bottom: 3rem; }
		}

		p {
			margin-bottom: 0;
			line-height: 1.5;
		}
	}
}