.single-dealer-post {
	margin: 0 auto;
	padding: 0 1rem;

	.dealer-logo {
		display: block;
		max-width: 10rem;
		margin: 2.5rem auto 0;
	}

	h1 {
		text-align: center;
		margin-top: 2.5rem;
	}

	.dealer-info, .dealer-info-site {
		display: flex;
		margin: 1rem auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include bp(680px) {
			margin: 2.5rem auto;
			flex-direction: row;
			justify-content: space-between;
		}

		span, a {
			color: $light-black;
			margin: 0 auto;
			padding: 0 0.15rem;
			font-size: 0.875rem; // 14px
		}

		span {
			margin-top: 0.875rem;
			@include bp(680px) { margin-top: 0; }
		}

		a:hover { text-decoration: underline; }

		.divider {
			display: none;

			@include bp(680px) {
				display: block;
				height: 1rem;
				width: 2px;
				background-color: $grey-three;
			}
		}
	}

	// dealers with no website (top infobar)
	.dealer-info { max-width: 28rem; }

	// dealers with a website (top infobar width adjust)
	.dealer-info-site { max-width: 42.5rem; }

	.dealer-image {
		display: block;
		max-width: 100%;
		max-height: 29.5rem;
		margin: 0 auto 2.5rem;
		object-fit: fill;
	}

	.dealer-message-content {
		max-width: 43.75rem;
		margin: 0 auto 3.5rem;

		p {
			color: $light-black;
			font-family: $font-body;
			font-size: 0.875rem;
			line-height: 1.4;
		}
	}

	.available-seed-grid {
		display: grid;
		max-width: 61rem;
		margin: 2.65rem auto 5rem;
		grid-template-columns: repeat(auto-fit, minmax(17.5rem, 17.5rem)); // fill to container edge on mobile
		column-gap: 4.25rem; //  [(4.25 * 2) + (17.5 * 3)] = 61
		row-gap: 4.25rem;
		justify-content: center;
		@include bp(md) { justify-content: left; }

		.seed-card {
			position: relative;
			padding: 1rem;
			border-radius: 3px;
			box-shadow: $card-shadow;
			background: $white;
			transition: unset;
			overflow: hidden; // hide edges of "NEW!" banner

			img {
				display: block;
				margin: 0 auto;
				max-height: 9.5rem;
				margin-bottom: 1.25rem;
			}

			span {
				display: block;
				color: $purple;
			}

			ul {
				display: block;
				list-style: none;
				margin: 0 0 1rem 0;
				padding: 0 0 0 0.25rem;
				@include bp(sm) { min-height: 6.5rem; }

				li {
					display: table-row;
					margin-bottom: 0.05rem;

					&:before {
						display: table-cell;
						content: '\00B7';
						position: relative;
						font-size: 1.25rem;
						top: 0.05rem;
						right: 0.25rem;
					}
				}
			}

			.primary-button--p {
				position: relative;
				bottom: 0;
				color: $white;
			}
		}

		.purple-card {
			&:hover {
				transition: unset;
				box-shadow: 0 0 3px 0 $purple;
			}
		}
	}
}