.single-news-wrapper {
	max-width: 48.75rem;
	margin: 2rem auto;
	padding: 1rem;

	.newsletter {
		max-width: 100%;
		margin: 0 auto;
		padding-bottom: 3rem;
		border-bottom: 1px solid $green;

		p {
			max-width: 43.75rem;
			margin: 0 auto 1.25rem;
		}

		h1, h2, h3, h4, h5, h6 {
			max-width: 43.75rem;
			margin: 1rem auto 0.5rem;
		}

		// base links for default pages
		a:not(.plain-link):not(.editor-button-block__green):not(.editor-button-block__purple) {
			color: $purple;
			font-size: 0.875rem; // 14px
			font-weight: bold;
			text-decoration: none;
			&:hover { text-decoration: underline; }
		}

		.wp-block-image {
			margin-top: 2rem;
			margin-bottom: 2rem;
			margin-left: 0; // for full width
			width: 48rem;
		}
	} // newsletter

	.author-info {
		max-width: 100%;
		width: 100%;
		padding: 1rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		p {
			margin: 0 0 0.5rem;
			padding: 0;
		}

		.shared-counts-wrap {
			all: unset; // remove all style nonsense
		}

		.shared-counts-wrap.style-icon .shared-counts-button .shared-counts-icon svg {
			width: 25px;
			height: 20px;
		}
	} // author info
}

// Previous and Next post links
.post-navigation-links {
	max-width: 100%;
	margin: 0 auto -0.5rem;
	border-top: 2px solid $off-white;

	.post-nav-grid {
		display: flex;
		max-width: 75rem;
		width: 100%;
		margin: 0 auto;
		flex-direction: column-reverse; // next post on top on mobile
		align-items: center;
		justify-content: center;

		@include bp(575px) {
			flex-direction: row;
			align-items: initial;
			justify-content: space-between;
		}
	}

	.post-previous, .post-next {
		position: relative;
		display: block;
		max-width: 37.5rem;
		width: 100%;

		// only shown if no posts newer or older exist
		&--no-post {
			max-width: 37.5rem;
			width: 100%;
			padding: 1rem 3rem;
			@include bp(575px) { padding: 1.5rem 3rem 1rem; }
			@include bp(sm) { padding: 3.5rem 2rem 3.5rem 6rem; }
			@include bp(md) { padding: 3.5rem 2rem 3.5rem 8rem; }

			> span { min-height: unset; }
		}
	}

	.post-previous {
		border-right: 1px solid $off-white;
		border-top: 1px solid $off-white;
		padding: 1.5rem 3rem 2.5rem;
		@include bp(575px) { border-top: 0; }
		@include bp(sm) { padding: 3.5rem 6rem 3.5rem 8rem; }

		.arrow-left {
			position: absolute;
			bottom: 0;
			left: 3rem;
			padding-bottom: 1rem;

			@include bp(sm) {
				top: 55%;
				bottom: unset;
				left: 0;
				transform: translateY(-55%);
				padding-left: 1rem;
			}
		}
	}

	.post-next {
		border-left: 1px solid $off-white;
		border-bottom: 1px solid $off-white;
		padding: 1.5rem 3rem 2.5rem;
		@include bp(575px) { border-top: 0; }
		@include bp(sm) { padding: 3.5rem 6rem; }

		.arrow-right {
			position: absolute;
			bottom: 0;
			right: 3.5rem;
			padding-bottom: 1rem;

			@include bp(sm) {
				top: 55%;
				right: 0;
				bottom: unset;
				transform: translateY(-55%);
				padding-right: 1rem;
			}
		}
	}

	// text styles put here to reduce indented code from +5 lvls deep to 2 lvls deep
	.h4-heading {
		min-height: 3.5rem;
		@include bp(sm) { min-height: 4.5rem; }
	}

	a span {
		color: $light-black;
	}

	.h4-heading, .post-preview {
		display: inline-block;
		max-width: 24rem;
		@include bp(lg) { width: 24rem; }
	}
}