.global-page-wrapper {
	max-width: 100%;
	margin: 0 auto;
}

.default-container {
	max-width: 61.25rem;
	margin: 1rem auto;
}

.default-container-wide {
	max-width: 65.25rem;
	margin: 1rem auto;
	padding: 0 1rem;
}

.add-padding { padding: 1rem; }

// default template classes //
.interior-header {
	max-width: 43.75rem;
	margin: 3.75rem auto;
	text-align: center;
	background-color: $white;

	time {
		display: block;
		font-family: $font-body;
		font-size: 0.875rem;
		padding-top: 0.75rem;
		color: $grey-one;
	}
}

.default-container-short {
	max-width: 43.75rem;
	margin: 2rem auto;
	padding: 0 1rem;

	// base links for default pages
	a:not(.plain-link):not(.editor-button-block__purple):not(.editor-button-block__green) {
		color: $purple;
		font-size: 0.875rem; // 14px
		font-weight: bold;
		text-decoration: none;
		&:hover { text-decoration: underline;}
	}
}

// helper classes //
.hide-on-desktop {
	display: block;
	@include bp(xs) { display: none; }
}

.hide-on-mobile {
	display: none;
	@include bp(xs) { display: block; }
}

.fade-in {
	visibility: visible;
	opacity: 1;
	transition: 0.3s ease-out;
}

.fade-out {
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-out;
}

.add-underline {
	padding-bottom: 0.25rem;
	border-bottom: 1px solid $grey-three;
}

// base link styles
.plain-link {
	color: $purple;
	font-size: 0.875rem; // 14px
	text-decoration: none;
	&:hover { text-decoration: underline;}
}

// for images in the short container that want to be shown full size
.full-width-image {
	max-width: 100%;
	width: 100%;
	height: auto;
	margin: 0 auto;

	&:hover { cursor: pointer; }
}

.image-modal {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 30; // nav is at 29
	background-color: rgba($black, 0.6);

	img {
		display: block;
		position: absolute;
		margin: 0 auto;
		max-height: 90%;
		max-width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}