/*
	Author: Shane Schroll - 502
	Author URI: https://weare502.com
	Theme Name: KWA
	Description: Custom theme for Kansas Wheat Alliance.
	Version: 2.2.1
	Text Domain: kwa
*/

@font-face {
	font-family: 'Veneer';
	src: url('fonts/Veneer.ttf');
}

// Import required files (dependencies)
@import 'normalize';
@import 'mq';
@import 'variables';
@import 'globals';
@import 'typography';
@import 'buttons';
@import 'utilities';

// Import main site chunks
@import 'header';
@import 'navigation';
@import 'footer';

// Import template styles
@import 'front-page';
@import 'contact';
@import 'archive-seed';
@import 'facet-styles';
@import 'single-seed';
@import 'seed-tables';
@import 'newsletters';
@import 'single-newsletter';
@import 'single-dealer';
@import 'no-ios-zoom';