{% if not weights_table is empty %}
<div class="standard-dropdown-container">
	<span class="dropdown-block-title target h4-heading" role="button" aria-pressed="false">Regional Yield Performance</span>
	<div class="table-wrapper dropdown-content" role="region" aria-expanded="false">
		<table border="0">
			<thead>
				<tr>
					<td></td>
					<td class="primary-seed">{{ post.title }}</td>
					{% for csn in post.get_field('competitor_seed_names') %}
						<td>{{ csn.name }}</td>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% set count = 0 %}
				{% for tr in weights_table.body %} {#  $weights_table['body']  #}
					<tr>
						{% for td in tr %}
							<td>{{ td.c }}</td> {#  $td['c']  #}
						{% endfor %}
					</tr>
					{% set count = count + 1 %}
				{% endfor %}
			</tbody>
		</table>
	</div> {# /.table-wrapper | /.dropdown-content #}
</div> {# /.standard-dropdown-container #}
{% endif %}